Galatee.Silverlight.Web/Service References/ServiceParametrage/Parametrage4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1818/Parametrage/Parametrage.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Galatee.Structure" />
  <xs:import schemaLocation="http://localhost:1818/Parametrage/Parametrage.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfKeyValueOfCsGroupeValidationArrayOfCsRHabilitationGrouveValidationb6rPkRsK">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfCsGroupeValidationArrayOfCsRHabilitationGrouveValidationb6rPkRsK">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Galatee.Structure" name="Key" nillable="true" type="q1:CsGroupeValidation" />
            <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Galatee.Structure" name="Value" nillable="true" type="q2:ArrayOfCsRHabilitationGrouveValidation" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfCsGroupeValidationArrayOfCsRHabilitationGrouveValidationb6rPkRsK" nillable="true" type="tns:ArrayOfKeyValueOfCsGroupeValidationArrayOfCsRHabilitationGrouveValidationb6rPkRsK" />
  <xs:complexType name="ArrayOfKeyValueOfCsRAffectationEtapeWorkflowCsConditionBranchementb6rPkRsK">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfCsRAffectationEtapeWorkflowCsConditionBranchementb6rPkRsK">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Galatee.Structure" name="Key" nillable="true" type="q3:CsRAffectationEtapeWorkflow" />
            <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Galatee.Structure" name="Value" nillable="true" type="q4:CsConditionBranchement" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfCsRAffectationEtapeWorkflowCsConditionBranchementb6rPkRsK" nillable="true" type="tns:ArrayOfKeyValueOfCsRAffectationEtapeWorkflowCsConditionBranchementb6rPkRsK" />
  <xs:complexType name="ArrayOfArrayOfKeyValueOfCsRAffectationEtapeWorkflowCsConditionBranchementb6rPkRsK">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfKeyValueOfCsRAffectationEtapeWorkflowCsConditionBranchementb6rPkRsK" nillable="true" type="tns:ArrayOfKeyValueOfCsRAffectationEtapeWorkflowCsConditionBranchementb6rPkRsK" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfKeyValueOfCsRAffectationEtapeWorkflowCsConditionBranchementb6rPkRsK" nillable="true" type="tns:ArrayOfArrayOfKeyValueOfCsRAffectationEtapeWorkflowCsConditionBranchementb6rPkRsK" />
  <xs:complexType name="ArrayOfstring">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfstring" nillable="true" type="tns:ArrayOfstring" />
  <xs:complexType name="ArrayOfguid">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="guid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfguid" nillable="true" type="tns:ArrayOfguid" />
  <xs:complexType name="ArrayOfint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="int" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfint" nillable="true" type="tns:ArrayOfint" />
  <xs:complexType name="ArrayOfKeyValueOfCsAffectationDemandeUserCsVwJournalDemandeb6rPkRsK">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfCsAffectationDemandeUserCsVwJournalDemandeb6rPkRsK">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Galatee.Structure" name="Key" nillable="true" type="q5:CsAffectationDemandeUser" />
            <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Galatee.Structure" name="Value" nillable="true" type="q6:CsVwJournalDemande" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfCsAffectationDemandeUserCsVwJournalDemandeb6rPkRsK" nillable="true" type="tns:ArrayOfKeyValueOfCsAffectationDemandeUserCsVwJournalDemandeb6rPkRsK" />
  <xs:complexType name="ArrayOfKeyValueOfstringstring">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringstring">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfstringstring" nillable="true" type="tns:ArrayOfKeyValueOfstringstring" />
</xs:schema>