Galatee.Silverlight.Web/Service References/ServiceParametrage/Parametrage5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Collections.Generic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1818/Parametrage/Parametrage.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Galatee.Structure" />
  <xs:import schemaLocation="http://localhost:1818/Parametrage/Parametrage.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="KeyValuePairOfCsCopieDmdCircuitKeyValuePairOfCsGroupeValidationArrayOfCsRHabilitationGrouveValidationb6rPkRsKg0pmPhwI">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CsCopieDmdCircuit" Namespace="http://schemas.datacontract.org/2004/07/Galatee.Structure" />
          <GenericParameter Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic">
            <GenericParameter Name="CsGroupeValidation" Namespace="http://schemas.datacontract.org/2004/07/Galatee.Structure" />
            <GenericParameter Name="ArrayOfCsRHabilitationGrouveValidation" Namespace="http://schemas.datacontract.org/2004/07/Galatee.Structure" />
          </GenericParameter>
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Galatee.Structure" name="key" nillable="true" type="q1:CsCopieDmdCircuit" />
      <xs:element name="value" type="tns:KeyValuePairOfCsGroupeValidationArrayOfCsRHabilitationGrouveValidationb6rPkRsK" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfCsCopieDmdCircuitKeyValuePairOfCsGroupeValidationArrayOfCsRHabilitationGrouveValidationb6rPkRsKg0pmPhwI" nillable="true" type="tns:KeyValuePairOfCsCopieDmdCircuitKeyValuePairOfCsGroupeValidationArrayOfCsRHabilitationGrouveValidationb6rPkRsKg0pmPhwI" />
  <xs:complexType name="KeyValuePairOfCsGroupeValidationArrayOfCsRHabilitationGrouveValidationb6rPkRsK">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CsGroupeValidation" Namespace="http://schemas.datacontract.org/2004/07/Galatee.Structure" />
          <GenericParameter Name="ArrayOfCsRHabilitationGrouveValidation" Namespace="http://schemas.datacontract.org/2004/07/Galatee.Structure" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Galatee.Structure" name="key" nillable="true" type="q2:CsGroupeValidation" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Galatee.Structure" name="value" nillable="true" type="q3:ArrayOfCsRHabilitationGrouveValidation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfCsGroupeValidationArrayOfCsRHabilitationGrouveValidationb6rPkRsK" nillable="true" type="tns:KeyValuePairOfCsGroupeValidationArrayOfCsRHabilitationGrouveValidationb6rPkRsK" />
</xs:schema>