Galatee.Silverlight/Service References/ServiceReference2/AcceuilService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1818/Acceuil/AcceuilService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Galatee.Structure" />
  <xs:complexType name="ArrayOfint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="int" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfint" nillable="true" type="tns:ArrayOfint" />
  <xs:complexType name="ArrayOfstring">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfstring" nillable="true" type="tns:ArrayOfstring" />
  <xs:complexType name="ArrayOfKeyValueOfCsGroupeValidationArrayOfCsUtilisateurb6rPkRsK">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfCsGroupeValidationArrayOfCsUtilisateurb6rPkRsK">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Galatee.Structure" name="Key" nillable="true" type="q1:CsGroupeValidation" />
            <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Galatee.Structure" name="Value" nillable="true" type="q2:ArrayOfCsUtilisateur" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfCsGroupeValidationArrayOfCsUtilisateurb6rPkRsK" nillable="true" type="tns:ArrayOfKeyValueOfCsGroupeValidationArrayOfCsUtilisateurb6rPkRsK" />
  <xs:complexType name="ArrayOfKeyValueOfArrayOfCsClientRechercherArrayOfCsLclientb6rPkRsK">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfArrayOfCsClientRechercherArrayOfCsLclientb6rPkRsK">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Galatee.Structure" name="Key" nillable="true" type="q3:ArrayOfCsClientRechercher" />
            <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Galatee.Structure" name="Value" nillable="true" type="q4:ArrayOfCsLclient" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfArrayOfCsClientRechercherArrayOfCsLclientb6rPkRsK" nillable="true" type="tns:ArrayOfKeyValueOfArrayOfCsClientRechercherArrayOfCsLclientb6rPkRsK" />
</xs:schema>