Galatee.Silverlight.Web/Service References/ServiceAdministration/AdministrationService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1818/Administration/AdministrationService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Galatee.Structure" />
  <xs:import schemaLocation="http://localhost:1818/Administration/AdministrationService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:1818/Administration/AdministrationService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:1818/Administration/AdministrationService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="saveProfilHabilitation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="csProfil" nillable="true" type="q1:CsProfil" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="menuProfil" nillable="true" type="q2:ArrayOfCsHabilitationProgram" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveProfilHabilitationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saveProfilHabilitationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="admUsers" nillable="true" type="q3:CsUtilisateur" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="anciensProfils" nillable="true" type="q4:ArrayOfCsProfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="InsertUpdateUserResult" nillable="true" type="q5:ArrayOfCsUtilisateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveUserProfil">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="csUser" nillable="true" type="q6:CsUtilisateur" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="lesProfils" nillable="true" type="q7:ArrayOfCsProfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveUserProfilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="saveUserProfilResult" nillable="true" type="q8:ArrayOfCsUtilisateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveUserProfilCentre">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="csUser" nillable="true" type="q9:CsUtilisateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveUserProfilCentreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="saveUserProfilCentreResult" nillable="true" type="q10:ArrayOfCsUtilisateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCsModuleAdmMenu">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCsModuleAdmMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneCsModuleAdmMenuResult" nillable="true" type="q11:ArrayOfCsModuleAdmMenu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCentreDuProfil">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCentreDuProfilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneCentreDuProfilResult" nillable="true" type="q12:ArrayOfCsCentreDuProfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeAllUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeAllUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeAllUserResult" nillable="true" type="q13:ArrayOfCsUtilisateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeAllUserPerimetre">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstCentrePerimetreAction" nillable="true" type="q14:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeAllUserPerimetreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeAllUserPerimetreResult" nillable="true" type="q15:ArrayOfCsUtilisateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListeDesModule">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListeDesModuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="GetListeDesModuleResult" nillable="true" type="q16:ArrayOfCsModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListeDesMenusProfil">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListeDesMenusProfilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="GetListeDesMenusProfilResult" nillable="true" type="q17:ArrayOfCsAdmMenu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneAllModuleFonction">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneAllModuleFonctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneAllModuleFonctionResult" nillable="true" type="q18:ArrayOfCsModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MenusSelectByFonction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="metier" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MenusSelectByFonctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="MenusSelectByFonctionResult" nillable="true" type="q19:ArrayOfCsAdmMenu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HabilitationSelectByMetierModule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="metier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HabilitationSelectByMetierModuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="HabilitationSelectByMetierModuleResult" nillable="true" type="q20:ArrayOfCsModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertionModuleDeFonction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="modules" nillable="true" type="q21:ArrayOfCsModuleDeFonction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertionModuleDeFonctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertionModuleDeFonctionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertionProfilFonction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="modules" nillable="true" type="q22:ArrayOfCsProfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertionProfilFonctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertionProfilFonctionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeAllProfilUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeAllProfilUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeAllProfilUserResult" nillable="true" type="q23:ArrayOfCsProfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneProfilByFonction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fonction" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneProfilByFonctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneProfilByFonctionResult" nillable="true" type="q24:ArrayOfCsProfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneProfilByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idprofil" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneProfilByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneProfilByIDResult" nillable="true" type="q25:ArrayOfCsProfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneBdConfig">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneBdConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneBdConfigResult" nillable="true" type="q26:ArrayOfCsDataBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneTa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="centre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="num" type="xs:int" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneTaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneTaResult" nillable="true" type="q27:CParametre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStrategieSecurite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="admStrategieSecurite" nillable="true" type="q28:CsStrategieSecurite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStrategieSecuriteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStrategieSecuriteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertStrategieSecurite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="admStrategieSecurite" nillable="true" type="q29:CsStrategieSecurite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertStrategieSecuriteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="InsertStrategieSecuriteResult" nillable="true" type="q30:ArrayOfCsStrategieSecurite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStrategieSecurite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdStrategieSecurite" type="q31:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStrategieSecuriteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteStrategieSecuriteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetActifStrategieSecurite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdStrategieSecurite" type="q32:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetActifStrategieSecuriteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="SetActifStrategieSecuriteResult" nillable="true" type="q33:ArrayOfCsStrategieSecurite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActifStrategieSecurite">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActifStrategieSecuriteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="GetActifStrategieSecuriteResult" nillable="true" type="q34:CsStrategieSecurite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStrategieSecurite">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStrategieSecuriteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="GetAllStrategieSecuriteResult" nillable="true" type="q35:ArrayOfCsStrategieSecurite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertionHabilitationProfil">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="modules" nillable="true" type="q36:ArrayOfCsProfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertionHabilitationProfilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertionHabilitationProfilResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRole">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="GetAllRoleResult" nillable="true" type="q37:ArrayOfCsAdmRoles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneAllModuleProgram">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneAllModuleProgramResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneAllModuleProgramResult" nillable="true" type="q38:ArrayOfCsProgramMenu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneAllModuleDeFonction">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneAllModuleDeFonctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneAllModuleDeFonctionResult" nillable="true" type="q39:ArrayOfCsModuleDeFonction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssocitedToMenuByMenuID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="menuId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssocitedToMenuByMenuIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="GetAssocitedToMenuByMenuIDResult" nillable="true" type="q40:ArrayOfCsAdmRoles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSite">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="GetAllSiteResult" nillable="true" type="q41:ArrayOfCsSite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeDesCentre">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeDesCentreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeDesCentreResult" nillable="true" type="q42:ArrayOfCsCentre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByLoginName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByLoginNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="GetByLoginNameResult" nillable="true" type="q43:CsUtilisateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="admUsers" nillable="true" type="q44:CsUtilisateur" />
        <xs:element minOccurs="0" name="IsInitpassword" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="admUsers" nillable="true" type="q45:CsUtilisateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="InsertUserResult" nillable="true" type="q46:ArrayOfCsUtilisateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="matricule" nillable="true" type="q47:CsUtilisateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserResult" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserByGuid">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="guid" type="q48:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserByGuidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserByGuidResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SELECT_All_Fonction">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SELECT_All_FonctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="SELECT_All_FonctionResult" nillable="true" type="q49:ArrayOfCsFonction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProgramSelectAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProgramSelectAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ProgramSelectAllResult" nillable="true" type="q50:ArrayOfCsHabilitationProgram" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListePoste">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListePosteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListePosteResult" nillable="true" type="q51:ArrayOfCsPoste" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPoste">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="lePoste" nillable="true" type="q52:CsPoste" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPosteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertPosteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePoste">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="lePoste" nillable="true" type="q53:CsPoste" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePosteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="UpdatePosteResult" nillable="true" type="q54:ArrayOfCsPoste" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneHistoriquePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneHistoriquePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneHistoriquePasswordResult" nillable="true" type="q55:ArrayOfCsHistoriquePassword" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneHistoriqueConnection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneHistoriqueConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneHistoriqueConnectionResult" nillable="true" type="q56:ArrayOfCsHistoriquePassword" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SynchroniseDonneeAD">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SynchroniseDonneeADResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SynchroniseDonneeADResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargeListeDesAgents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargeListeDesAgentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ChargeListeDesAgentsResult" nillable="true" type="q57:ArrayOfCsAgent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MisaAjourImportFichier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="limport" nillable="true" type="q58:aImportFichier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MisaAjourImportFichierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MisaAjourImportFichierResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuppressImportFichier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="limport" nillable="true" type="q59:aImportFichier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuppressImportFichierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuppressImportFichierResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImportFichier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeimport" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImportFichierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="GetImportFichierResult" nillable="true" type="q60:aImportFichier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExexcImporterFichier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="codeimport" nillable="true" type="q61:aImportFichier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExexcImporterFichierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ExexcImporterFichierResult" nillable="true" type="q62:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MisaAjourImportColonne">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="lacolonne" nillable="true" type="q63:aImportFichierColonne" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MisaAjourImportColonneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MisaAjourImportColonneResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImportColonne">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeColonne" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImportColonneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="GetImportColonneResult" nillable="true" type="q64:aImportFichierColonne" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteColonne">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeColonne" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteColonneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteColonneResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllImportFichierColonne">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeimport" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllImportFichierColonneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="GetAllImportFichierColonneResult" nillable="true" type="q65:ArrayOfaImportFichierColonne" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportDepuisBaseDeDonnee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="limport" nillable="true" type="q66:aImportFichier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportDepuisBaseDeDonneeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportDepuisBaseDeDonneeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllImport">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllImportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="GetAllImportResult" nillable="true" type="q67:ArrayOfaImportFichier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSQLDatabaseList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serverInstanceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="useWindowsAuthentication" type="xs:boolean" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSQLDatabaseListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetSQLDatabaseListResult" nillable="true" type="q68:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProviderList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProviderListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetProviderListResult" nillable="true" type="q69:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadRequestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAgent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="agenttosynchro" nillable="true" type="q70:ArrayOfCsAgent" />
        <xs:element minOccurs="0" name="Requette" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAgentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveAgentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAgentBaseDistante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Requette" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Provider" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DataSource" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IniialeCatalog" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAgentBaseDistanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="LoadAgentBaseDistanteResult" nillable="true" type="q71:ArrayOfCsAgent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestBaseDistante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Requette" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Provider" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DataSource" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IniialeCatalog" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestBaseDistanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestBaseDistanteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MenusSelectByProfil">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="metier" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MenusSelectByProfilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="MenusSelectByProfilResult" nillable="true" type="q72:ArrayOfCsAdmMenu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneFonctionProfilCentre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codefonction" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneFonctionProfilCentreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneFonctionProfilCentreResult" nillable="true" type="q73:ArrayOfCsHabilitationMetier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneFonctionProfilMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codefonction" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneFonctionProfilMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneFonctionProfilMenuResult" nillable="true" type="q74:ArrayOfCsHabilitationMenu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertionMutation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="lutilisateur" nillable="true" type="q75:CsUtilisateur" />
        <xs:element minOccurs="0" name="newCentre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="datedebut" type="xs:dateTime" />
        <xs:element minOccurs="0" name="datefin" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertionMutationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertionMutationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneProfilUtilisateur">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="idUtilisateur" nillable="true" type="q76:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneProfilUtilisateurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneProfilUtilisateurResult" nillable="true" type="q77:ArrayOfCsHabilitationMenu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneHistoriquePasswords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneHistoriquePasswordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneHistoriquePasswordsResult" nillable="true" type="q78:ArrayOfCsHistoriquePassword" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteListUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="user" nillable="true" type="q79:ArrayOfCsUtilisateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteListUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteListUserResult" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneHistoriqueConnectionfromListUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="idUser" nillable="true" type="q80:ArrayOfNullableOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneHistoriqueConnectionfromListUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneHistoriqueConnectionfromListUserResult" nillable="true" type="q81:ArrayOfCsHistoriquePassword" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneHistoriquePasswordFromListUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="idUser" nillable="true" type="q82:ArrayOfNullableOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneHistoriquePasswordFromListUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneHistoriquePasswordFromListUserResult" nillable="true" type="q83:ArrayOfCsHistoriquePassword" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>