Galatee.Silverlight/Service References/ServiceScelles/IScelleService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1818/Scelle/IScelleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Galatee.Structure" />
  <xs:import schemaLocation="http://localhost:1818/Scelle/IScelleService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="VerifieCompteurExisteNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="leCpt" nillable="true" type="q1:CsCompteur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifieCompteurExisteNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifieCompteurExisteNewResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeActivite">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeActiviteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeActiviteResult" nillable="true" type="q2:ArrayOfCsActivite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeCouleurScelle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Activite_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeCouleurScelleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeCouleurScelleResult" nillable="true" type="q3:ArrayOfCsCouleurActivite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeAllCouleurScelle">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeAllCouleurScelleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeAllCouleurScelleResult" nillable="true" type="q4:ArrayOfCsCouleurActivite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeDemandeScelle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fk_dem" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeDemandeScelleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeDemandeScelleResult" nillable="true" type="q5:ArrayOfCsDscelle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeScelle">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeScelleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeScelleResult" nillable="true" type="q6:ArrayOfCsLotScelle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDemandeScelle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="lademande" nillable="true" type="q7:CsDemandeBase" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="dscelle" nillable="true" type="q8:CsDscelle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDemandeScelleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertDemandeScelleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeDetailAffectationScelle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdDemande" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeDetailAffectationScelleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeDetailAffectationScelleResult" nillable="true" type="q9:ArrayOfCsDetailAffectationScelle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidationReception">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ListeScelle" nillable="true" type="q10:ArrayOfCsDetailAffectationScelle" />
        <xs:element minOccurs="0" name="MatriculAgent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idetapeActuelle" type="xs:int" />
        <xs:element minOccurs="0" name="numdem" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidationReceptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidationReceptionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllMargasinVirtuelle">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllMargasinVirtuelleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="SelectAllMargasinVirtuelleResult" nillable="true" type="q11:ArrayOfCsCompteurBta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMargasinVirtuelle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="sCompteur" nillable="true" type="q12:CsCompteurBta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMargasinVirtuelleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMargasinVirtuelleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMargasinVirtuelle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="sCompteur" nillable="true" type="q13:ArrayOfCsCompteurBta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMargasinVirtuelleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateMargasinVirtuelleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMargasinVirtuelle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="sCompteur" nillable="true" type="q14:ArrayOfCsCompteurBta" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="sCompteur1" nillable="true" type="q15:ArrayOfCsCompteurBta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMargasinVirtuelleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertMargasinVirtuelleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeFournisseurs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeFournisseursResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeFournisseursResult" nillable="true" type="q16:ArrayOfCsRefFournisseurs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllLotMagasinGeneral">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllLotMagasinGeneralResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="SelectAllLotMagasinGeneralResult" nillable="true" type="q17:ArrayOfCsLotMagasinGeneral" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLotMagasinGeneral">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="cLotMagasinGeneral" nillable="true" type="q18:CsLotMagasinGeneral" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLotMagasinGeneralResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteLotMagasinGeneralResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLotMagasinGeneral">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="cLotMagasinGeneral" nillable="true" type="q19:ArrayOfCsLotMagasinGeneral" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLotMagasinGeneralResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateLotMagasinGeneralResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertLotMagasinGeneral">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="cLotMagasinGeneral" nillable="true" type="q20:ArrayOfCsLotMagasinGeneral" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertLotMagasinGeneralResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertLotMagasinGeneralResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeOrigineScelle">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeOrigineScelleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeOrigineScelleResult" nillable="true" type="q21:ArrayOfCsRefOrigineScelle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeOrigineScelleById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RefOrigineScelleByid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeOrigineScelleByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeOrigineScelleByIdResult" nillable="true" type="q22:CsRefOrigineScelle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValiderListeSaisieSelonDonneesEnBase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListeSaisie" nillable="true" type="q23:ArrayOfKeyValueOfstringstring" />
        <xs:element minOccurs="0" name="OrigineLotsDeLaListe" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValiderListeSaisieSelonDonneesEnBaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValiderListeSaisieSelonDonneesEnBaseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneEtatCompteur">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneEtatCompteurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneEtatCompteurResult" nillable="true" type="q24:ArrayOfCsRefEtatCompteur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListRechercheCompteur">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListRechercheCompteurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListRechercheCompteurResult" nillable="true" type="q25:ArrayOfCsRechercheCompteur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneRechercheCompteurById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Numero_compteur" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneRechercheCompteurByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneRechercheCompteurByIdResult" nillable="true" type="q26:CsRechercheCompteur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListMarque_Modele">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListMarque_ModeleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListMarque_ModeleResult" nillable="true" type="q27:ArrayOfCsMarque_Modele" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllCompteur">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllCompteurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="SelectAllCompteurResult" nillable="true" type="q28:ArrayOfCsCompteurBta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCompteur">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="sCompteur" nillable="true" type="q29:CsCompteurBta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCompteurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCompteurResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompteur">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="sCompteur" nillable="true" type="q30:ArrayOfCsCompteurBta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompteurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCompteurResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompteurSuiteModif">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="sCompteur" nillable="true" type="q31:ArrayOfCsCompteurBta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompteurSuiteModifResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCompteurSuiteModifResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifierEtatCompteur">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="sCompteur" nillable="true" type="q32:CsCompteurBta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifierEtatCompteurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifierEtatCompteurResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCompteur">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="sCompteur" nillable="true" type="q33:ArrayOfCsCompteurBta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCompteurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCompteurResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllCompteurNonAffecte">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllCompteurNonAffecteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="SelectAllCompteurNonAffecteResult" nillable="true" type="q34:ArrayOfCsCompteurBta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifieCompteurExiste">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="leCpt" nillable="true" type="q35:CsCompteurBta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifieCompteurExisteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifieCompteurExisteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListScelle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pk_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListScelleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListScelleResult" nillable="true" type="q36:ArrayOfCsRemiseScelleByAg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllRemiseScelle">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllRemiseScelleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="SelectAllRemiseScelleResult" nillable="true" type="q37:ArrayOfCsRemiseScelles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRemise">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="sRemise" nillable="true" type="q38:CsRemiseScelles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRemiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRemiseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRemise">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="sRemise" nillable="true" type="q39:ArrayOfCsRemiseScelles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRemiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRemiseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRemise">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="sRemi" nillable="true" type="q40:ArrayOfCsRemiseScelles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRemiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertRemiseResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllMotisScelle">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllMotisScelleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="SelectAllMotisScelleResult" nillable="true" type="q41:ArrayOfCsMotifsScelle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllScelles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllScellesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="SelectAllScellesResult" nillable="true" type="q42:ArrayOfCsScelle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneScellesListeByAgence">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdCentre" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneScellesListeByAgenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneScellesListeByAgenceResult" nillable="true" type="q43:ArrayOfCsScelle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListelot">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListelotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListelotResult" nillable="true" type="q44:ArrayOfCsTbLot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeAllUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeAllUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeAllUserResult" nillable="true" type="q45:ArrayOfCsUtilisateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllRetourScelle">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllRetourScelleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="SelectAllRetourScelleResult" nillable="true" type="q46:ArrayOfCsRetourScelles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRetours">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="sRemise" nillable="true" type="q47:CsRetourScelles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRetoursResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRetoursResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRetourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="sRemise" nillable="true" type="q48:ArrayOfCsRetourScelles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRetourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRetourseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRetours">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="sRemi" nillable="true" type="q49:ArrayOfCsRetourScelles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRetoursResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertRetoursResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllStatutsScelles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllStatutsScellesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="SelectAllStatutsScellesResult" nillable="true" type="q50:ArrayOfCsRefStatutsScelles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListScelleByStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pk_id" type="xs:int" />
        <xs:element minOccurs="0" name="Status" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListScelleByStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListScelleByStatusResult" nillable="true" type="q51:ArrayOfCsRemiseScelleByAg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListScelleByCentre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCentre" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListScelleByCentreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListScelleByCentreResult" nillable="true" type="q52:ArrayOfCsRemiseScelleByAg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SCELLES_RETOURNE_Pour_ScellageCpt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pk_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SCELLES_RETOURNE_Pour_ScellageCptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="SCELLES_RETOURNE_Pour_ScellageCptResult" nillable="true" type="q53:ArrayOfCsRemiseScelleByAg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCompteurBtaByNumCptNumScelle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumeroCompteur" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NumeroScelle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCompteurBtaByNumCptNumScelleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneCompteurBtaByNumCptNumScelleResult" nillable="true" type="q54:ArrayOfCsCompteurBta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCompteurAffecter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodeAgence" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCompteurAffecterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneCompteurAffecterResult" nillable="true" type="q55:ArrayOfCsCompteurBta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>