Galatee.Silverlight/Service References/ServiceScelles/IScelleService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Galatee.Structure" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Galatee.Structure" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1818/Scelle/IScelleService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="CsCompteur">
    <xs:sequence>
      <xs:element minOccurs="0" name="ANNEEFAB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CADRAN" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="CALIBRECOMPTEUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODECENTRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODEPRODUIT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODESITE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COEFCOMPTAGE" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="COEFLECT" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DATECREATION" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DATEMODIFICATION" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ETAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FK_IDCALIBRECOMPTEUR" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDCENTRE" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDCOMPTEUR" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDDEMANDE" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDETATCOMPTEUR" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDMARQUECOMPTEUR" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDPRODUIT" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDSTATUTCOMPTEUR" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDTYPECOMPTAGE" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDTYPECOMPTEUR" type="xs:int" />
      <xs:element minOccurs="0" name="FONCTIONNEMENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LIBELLECALIBRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LIBELLEMARQUE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LIBELLETYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MARQUE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MISEENSERVICE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NUMERO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PK_ID" type="xs:int" />
      <xs:element minOccurs="0" name="PLOMBAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATUT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TYPECOMPTAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TYPECOMPTEUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USERCREATION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USERMODIFICATION" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CsCompteur" nillable="true" type="tns:CsCompteur" />
  <xs:complexType name="ArrayOfCsActivite">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsActivite" nillable="true" type="tns:CsActivite" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsActivite" nillable="true" type="tns:ArrayOfCsActivite" />
  <xs:complexType name="CsActivite">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activite_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Activite_Libelle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CsActivite" nillable="true" type="tns:CsActivite" />
  <xs:complexType name="ArrayOfCsCouleurActivite">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsCouleurActivite" nillable="true" type="tns:CsCouleurActivite" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsCouleurActivite" nillable="true" type="tns:ArrayOfCsCouleurActivite" />
  <xs:complexType name="CsCouleurActivite">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activite_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Activite_Libelle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Couleur_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Couleur_libelle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PK_ID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CsCouleurActivite" nillable="true" type="tns:CsCouleurActivite" />
  <xs:complexType name="ArrayOfCsDscelle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsDscelle" nillable="true" type="tns:CsDscelle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsDscelle" nillable="true" type="tns:ArrayOfCsDscelle" />
  <xs:complexType name="CsDscelle">
    <xs:sequence>
      <xs:element minOccurs="0" name="FK_IDACTIVITE" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDAGENT" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDCENTRE" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDCENTREFOURNISSEUR" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDCOULEURSCELLE" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDDEMANDE" type="xs:int" />
      <xs:element minOccurs="0" name="LIBELLEACTIVITE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LIBELLEAGENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LIBELLECENTREDESTINATAIRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LIBELLECENTREFOURNISSEUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LIBELLECOULEUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LIBELLESITEAGENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MATRICULE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRE_DEM" type="xs:int" />
      <xs:element minOccurs="0" name="NOMBRE_REC" type="xs:int" />
      <xs:element minOccurs="0" name="NUMDEM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PK_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CsDscelle" nillable="true" type="tns:CsDscelle" />
  <xs:complexType name="ArrayOfCsLotScelle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsLotScelle" nillable="true" type="tns:CsLotScelle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsLotScelle" nillable="true" type="tns:ArrayOfCsLotScelle" />
  <xs:complexType name="CsLotScelle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activite_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CodeCentre" type="xs:int" />
      <xs:element minOccurs="0" name="Couleur_ID" type="xs:int" />
      <xs:element minOccurs="0" name="DateReception" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Date_DerniereModif" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fournisseur_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Id_Affectation" type="ser:guid" />
      <xs:element minOccurs="0" name="Id_LotMagasinGeneral" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSelect" type="xs:boolean" />
      <xs:element minOccurs="0" name="Libelle_Couleur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Libelle_Fournisseur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Libelle_Origine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Matricule_AgentDerniereModif" type="xs:int" />
      <xs:element minOccurs="0" name="Matricule_AgentReception" type="xs:int" />
      <xs:element minOccurs="0" name="Nbre_Scelles" type="xs:int" />
      <xs:element minOccurs="0" name="Numero_depart" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero_fin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Origine_ID" type="xs:int" />
      <xs:element minOccurs="0" name="StatutLot_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CsLotScelle" nillable="true" type="tns:CsLotScelle" />
  <xs:complexType name="CsDemandeBase">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CsPrint">
        <xs:sequence>
          <xs:element minOccurs="0" name="ADRESSE1CLIENT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ADRESSE2CLIENT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ANCIENNEPUISSANCE" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ANNOTATION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CATEGORIE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CENTRE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CLIENT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CODECONSO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CODEELECTRIQUE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CODEREGLAGECOMPTEUR" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="COMMUNE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COMPTEUR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CTAXEG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DATECREATION" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATED" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATEFIN" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATEFLAG" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATEMODIFICATION" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATESUPPRESSION" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DCAISSE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DIAMBRT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DPRDEV" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DPREX" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DPRRDV" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DREADEV" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DREAEX" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DREARDV" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ETAPEDEMANDE" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="EXCL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EXCOMPT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EXDAG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EXDBRT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EXEVT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FACTURE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FDEM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FICHIERJOINT" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="FK_IDADMUTILISATEUR" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDCENTRE" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDCLIENT" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDDEMANDE" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDETAPEENCOURE" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDETAPESUIVANTE" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDMAGAZINVIRTUEL" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDPRODUIT" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDPUISSANCESOUSCRITE" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDREGLAGECOMPTEUR" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDTYPECLIENT" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDTYPECOMPTAGE" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDTYPEDEMANDE" type="xs:int" />
          <xs:element minOccurs="0" name="FREP" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HRDVPR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="INITIERPAR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ISBONNEINITIATIVE" type="xs:boolean" />
          <xs:element minOccurs="0" name="ISCHANGECOMPTEUR" type="xs:boolean" />
          <xs:element minOccurs="0" name="ISCOMMUNE" type="xs:boolean" />
          <xs:element minOccurs="0" name="ISCONTROLE" type="xs:boolean" />
          <xs:element minOccurs="0" name="ISDEFINITIF" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="ISDEMANDEREJETERINIT" type="xs:boolean" />
          <xs:element minOccurs="0" name="ISDEVISCOMPLEMENTAIRE" type="xs:boolean" />
          <xs:element minOccurs="0" name="ISDEVISHT" type="xs:boolean" />
          <xs:element minOccurs="0" name="ISEDM" type="xs:boolean" />
          <xs:element minOccurs="0" name="ISETALONNAGE" type="xs:boolean" />
          <xs:element minOccurs="0" name="ISEXTENSION" type="xs:boolean" />
          <xs:element minOccurs="0" name="ISFOURNITURE" type="xs:boolean" />
          <xs:element minOccurs="0" name="ISMETREAFAIRE" type="xs:boolean" />
          <xs:element minOccurs="0" name="ISMUTATION" type="xs:boolean" />
          <xs:element minOccurs="0" name="ISNEW" type="xs:boolean" />
          <xs:element minOccurs="0" name="ISPASDEFACTURE" type="xs:boolean" />
          <xs:element minOccurs="0" name="ISPASSERCAISSE" type="xs:boolean" />
          <xs:element minOccurs="0" name="ISPOSE" type="xs:boolean" />
          <xs:element minOccurs="0" name="ISPRESTATION" type="xs:boolean" />
          <xs:element minOccurs="0" name="ISPROVISOIR" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="ISSUPPRIME" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="ISSUPPRIMERCOUT" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsSELECT" type="xs:boolean" />
          <xs:element minOccurs="0" name="LATITUDE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LIBELLE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LIBELLECENTRE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LIBELLECOMMUNE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LIBELLEETAPEDEMANDE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LIBELLEETAPEENCOURS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LIBELLEETAPESUIVANTE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LIBELLEPRODUIT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LIBELLEQUARTIER" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LIBELLERUES" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LIBELLESITE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LIBELLESTATUT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LIBELLETACHE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LIBELLETDEM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LIBELLETYPEDEMANDE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LONGITUDE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MATRICULE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MOTIF" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NCAISSE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NOMBREDEFOYER" type="xs:int" />
          <xs:element minOccurs="0" name="NOMCLIENT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NOMMERE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NOMPERE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NUMDEM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NUMPERE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OPERATIONDIVERSE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ORDRE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PK_ID" type="xs:int" />
          <xs:element minOccurs="0" name="PORTE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PRESTATAIRE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PRODUIT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PUISSANCESOUSCRITE" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="QUARTIER" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REFEM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REGLAGECOMPTEUR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RUE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SITE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="STATUT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="STATUTDEMANDE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TOPEDIT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TOURNEE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TRANSMIS" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="TYPECOMPTAGE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TYPEDEMANDE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="USERCREATION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="USERMODIFICATION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="USERSUPPRESSION" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CsDemandeBase" nillable="true" type="tns:CsDemandeBase" />
  <xs:complexType name="CsPrint">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="CsPrint" nillable="true" type="tns:CsPrint" />
  <xs:complexType name="ArrayOfCsDetailAffectationScelle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsDetailAffectationScelle" nillable="true" type="tns:CsDetailAffectationScelle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsDetailAffectationScelle" nillable="true" type="tns:ArrayOfCsDetailAffectationScelle" />
  <xs:complexType name="CsDetailAffectationScelle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Centre_Origine_Scelle" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Commentaire" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date_Reception" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EstLivre" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id_Affectation" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Id_DetailAffectationScelle" type="ser:guid" />
      <xs:element minOccurs="0" name="LotAppartenance_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nuemro_Scelle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Provenance_Id" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CsDetailAffectationScelle" nillable="true" type="tns:CsDetailAffectationScelle" />
  <xs:complexType name="ArrayOfCsCompteurBta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsCompteurBta" nillable="true" type="tns:CsCompteurBta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsCompteurBta" nillable="true" type="tns:ArrayOfCsCompteurBta" />
  <xs:complexType name="CsCompteurBta">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CsPrint">
        <xs:sequence>
          <xs:element minOccurs="0" name="ANCNUMEROCRT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ANNEEFAB" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AncCache_Scelle" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="AncCapotMoteur_ID_Scelle1" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="AncCapotMoteur_ID_Scelle2" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="AncCapotMoteur_ID_Scelle3" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="CADRAN" nillable="true" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="CALIBRE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CODEPRODUIT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Cache_Scelle" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="CapotMoteur_ID_Scelle1" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="CapotMoteur_ID_Scelle2" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="CapotMoteur_ID_Scelle3" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="DATECREATION" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATEMODIFICATION" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ETAT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EtatCompteur_ID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDCALIBRECOMPTEUR" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDCENTRE" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDMARQUECOMPTEUR" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDPRODUIT" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDREGLAGECOMPTEUR" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDTYPECOMPTEUR" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="FONCTIONNEMENT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LIBELLEETATCOMPTEUR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LIBELLEMARQUE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LIBELLEPRODUIT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LIBELLETYPECOMPTEUR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MARQUE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NUMERO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Numero_Cache_3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Numero_Compteur" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Numero_ScelleCapot_1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Numero_ScelleCapot_2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Numero_ScelleCapot_3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PK_ID" type="xs:int" />
          <xs:element minOccurs="0" name="StatutCompteur" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TYPECOMPTEUR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Type_Compteur" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Type_Compteur_ID" type="xs:int" />
          <xs:element minOccurs="0" name="USERCREATION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="USERMODIFICATION" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CsCompteurBta" nillable="true" type="tns:CsCompteurBta" />
  <xs:complexType name="ArrayOfCsRefFournisseurs">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsRefFournisseurs" nillable="true" type="tns:CsRefFournisseurs" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsRefFournisseurs" nillable="true" type="tns:ArrayOfCsRefFournisseurs" />
  <xs:complexType name="CsRefFournisseurs">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fournisseur_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Fournisseur_Libelle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CsRefFournisseurs" nillable="true" type="tns:CsRefFournisseurs" />
  <xs:complexType name="ArrayOfCsLotMagasinGeneral">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsLotMagasinGeneral" nillable="true" type="tns:CsLotMagasinGeneral" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsLotMagasinGeneral" nillable="true" type="tns:ArrayOfCsLotMagasinGeneral" />
  <xs:complexType name="CsLotMagasinGeneral">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activite_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CodeCentre" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Couleur_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Couleur_libelle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateReception" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Date_DerniereModif" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fournisseur_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id_Affectation" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Id_LotMagasinGeneral" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Libelle_Fournisseur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Libelle_Origine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Libelle_statue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Matricule_AgentDerniereModif" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Matricule_AgentReception" type="xs:int" />
      <xs:element minOccurs="0" name="Nbre_Scelles" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Numero_depart" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero_fin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Origine_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StatutLot_ID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CsLotMagasinGeneral" nillable="true" type="tns:CsLotMagasinGeneral" />
  <xs:complexType name="ArrayOfCsRefOrigineScelle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsRefOrigineScelle" nillable="true" type="tns:CsRefOrigineScelle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsRefOrigineScelle" nillable="true" type="tns:ArrayOfCsRefOrigineScelle" />
  <xs:complexType name="CsRefOrigineScelle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Longueur_ScelleID" type="xs:int" />
      <xs:element minOccurs="0" name="Origine_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Origine_Libelle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CsRefOrigineScelle" nillable="true" type="tns:CsRefOrigineScelle" />
  <xs:complexType name="ArrayOfCsRefEtatCompteur">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsRefEtatCompteur" nillable="true" type="tns:CsRefEtatCompteur" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsRefEtatCompteur" nillable="true" type="tns:ArrayOfCsRefEtatCompteur" />
  <xs:complexType name="CsRefEtatCompteur">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CsPrint">
        <xs:sequence>
          <xs:element minOccurs="0" name="EtatCompteur_ID" type="xs:int" />
          <xs:element minOccurs="0" name="Libelle_ETAT" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CsRefEtatCompteur" nillable="true" type="tns:CsRefEtatCompteur" />
  <xs:complexType name="ArrayOfCsRechercheCompteur">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsRechercheCompteur" nillable="true" type="tns:CsRechercheCompteur" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsRechercheCompteur" nillable="true" type="tns:ArrayOfCsRechercheCompteur" />
  <xs:complexType name="CsRechercheCompteur">
    <xs:sequence>
      <xs:element minOccurs="0" name="ANNEEFAB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Branchement_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CADRAN" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Cache_Couleur_Scelle4" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Cache_Scelle" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Cache_Scelle_ID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Cache_Scelle_Numero_Scelle4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cache_sceller_DateDePoseScelle4" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CapotMoteur_Couleur_Scelle1" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CapotMoteur_Couleur_Scelle2" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CapotMoteur_Couleur_Scelle3" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CapotMoteur_DateDePoseScelle3" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CapotMoteur_Numero_Scelle1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CapotMoteur_Numero_Scelle2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CapotMoteur_Numero_Scelle3" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CodeCentre" type="xs:int" />
      <xs:element minOccurs="0" name="DATECREATION" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DATEMODIFICATION" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DIAMETRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EtatCompteur_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDDIAMETRECOMPTEUR" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDMARQUECOMPTEUR" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDTYPECOMPTEUR" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FONCTIONNEMENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MARQUE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero_Compteur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatutCompteur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TYPE_COMPTEUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type_Compteur_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="USERCREATION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USERMODIFICATION" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CsRechercheCompteur" nillable="true" type="tns:CsRechercheCompteur" />
  <xs:complexType name="ArrayOfCsMarque_Modele">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsMarque_Modele" nillable="true" type="tns:CsMarque_Modele" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsMarque_Modele" nillable="true" type="tns:ArrayOfCsMarque_Modele" />
  <xs:complexType name="CsMarque_Modele">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODE_Marque" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Libelle_MArque" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Libelle_Modele" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Libelle_Produit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MARQUE_ID" type="xs:int" />
      <xs:element minOccurs="0" name="MODELE_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Nbre_scel_cache" type="xs:int" />
      <xs:element minOccurs="0" name="Nbre_scel_capot" type="xs:int" />
      <xs:element minOccurs="0" name="PK_ID" type="ser:guid" />
      <xs:element minOccurs="0" name="Produit_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CsMarque_Modele" nillable="true" type="tns:CsMarque_Modele" />
  <xs:complexType name="ArrayOfCsRemiseScelleByAg">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsRemiseScelleByAg" nillable="true" type="tns:CsRemiseScelleByAg" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsRemiseScelleByAg" nillable="true" type="tns:ArrayOfCsRemiseScelleByAg" />
  <xs:complexType name="CsRemiseScelleByAg">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CsPrint">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodeCentre" type="xs:int" />
          <xs:element minOccurs="0" name="Couleur_Scelle" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Couleur_libelle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Date_Remise" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Id_Scelle" type="ser:guid" />
          <xs:element minOccurs="0" name="Matricule_Receiver" type="xs:int" />
          <xs:element minOccurs="0" name="Nbre_Scelles" type="xs:int" />
          <xs:element minOccurs="0" name="Numero_Scelle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Status_ID" type="xs:int" />
          <xs:element minOccurs="0" name="libelleStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="lot_ID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CsRemiseScelleByAg" nillable="true" type="tns:CsRemiseScelleByAg" />
  <xs:complexType name="ArrayOfCsRemiseScelles">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsRemiseScelles" nillable="true" type="tns:CsRemiseScelles" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsRemiseScelles" nillable="true" type="tns:ArrayOfCsRemiseScelles" />
  <xs:complexType name="CsRemiseScelles">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeCentre" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Date_Remise" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id_DetailRemise" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Id_Remise" type="ser:guid" />
      <xs:element minOccurs="0" name="Id_Scelle" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Libelle_Motif" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lot_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Matricule_Receiver" type="xs:int" />
      <xs:element minOccurs="0" name="Matricule_User" type="xs:int" />
      <xs:element minOccurs="0" name="Motif_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Nbre_Scelles" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TypeRemise" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CsRemiseScelles" nillable="true" type="tns:CsRemiseScelles" />
  <xs:complexType name="ArrayOfCsMotifsScelle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsMotifsScelle" nillable="true" type="tns:CsMotifsScelle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsMotifsScelle" nillable="true" type="tns:ArrayOfCsMotifsScelle" />
  <xs:complexType name="CsMotifsScelle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Motif_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Motif_libelle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeInterventionDuMotif" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CsMotifsScelle" nillable="true" type="tns:CsMotifsScelle" />
  <xs:complexType name="ArrayOfCsScelle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsScelle" nillable="true" type="tns:CsScelle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsScelle" nillable="true" type="tns:ArrayOfCsScelle" />
  <xs:complexType name="CsScelle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Couleur_Scelle" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DateDePose" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateDeRupture" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Date_creation_scelle" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Exploitation_Origine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Exploitation_appartenance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Scelle" type="ser:guid" />
      <xs:element minOccurs="0" name="Libelle_Couleur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUM_SCELLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero_Scelle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Origine_scelle" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PK_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Reference_OrganeOuBranchementOuRaccordement_Scelle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TypeOrganeScelle" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="lot_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="provenance_Scelle_ID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CsScelle" nillable="true" type="tns:CsScelle" />
  <xs:complexType name="ArrayOfCsTbLot">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsTbLot" nillable="true" type="tns:CsTbLot" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsTbLot" nillable="true" type="tns:ArrayOfCsTbLot" />
  <xs:complexType name="CsTbLot">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateReception" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Date_Derniere_Modif" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Libelle_Couleur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Libelle_Satut" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Matricule_AgentModification" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Matricule_Creation" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre_scelles_lot" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre_scelles_reçu" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Numero_depart" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero_fin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Origine_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Status_lot_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TypeDeLot" type="xs:int" />
      <xs:element minOccurs="0" name="agence_centre_Appartenance" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="agence_centre_Origine" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="lot_Couleur_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="lot_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="provenance_Scelle_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="typeReception" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CsTbLot" nillable="true" type="tns:CsTbLot" />
  <xs:complexType name="ArrayOfCsUtilisateur">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsUtilisateur" nillable="true" type="tns:CsUtilisateur" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsUtilisateur" nillable="true" type="tns:ArrayOfCsUtilisateur" />
  <xs:complexType name="CsUtilisateur">
    <xs:sequence>
      <xs:element minOccurs="0" name="BRANCHE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CENTRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CENTREAFFICHER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CFONCT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODEHIER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPTEWINDOW" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DATECREATION" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DATEDEBUTVALIDITE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DATEDERNIERECONNEXION" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DATEDERNIEREMODIFICATION" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DATEDERNIEREMODIFICATIONPASSWORD" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DATEDERNIERVERROUILLAGE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DATEFINVALIDITE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DATEMODIFICATION" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DERNIERECONNEXIONREUSSIE" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="DMAJ" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ESTCONSULTATION" type="xs:boolean" />
      <xs:element minOccurs="0" name="ESTSUPPRIMER" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="E_MAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsADMIN" type="xs:boolean" />
      <xs:element minOccurs="0" name="FK_CENTREAFFECTATION" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDANCIENCENTRE" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDCENTRE" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDFONCTION" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDSTATUS" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="FONCTION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INITUSERPASSWORD" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ISSELECT" type="xs:boolean" />
      <xs:element minOccurs="0" name="LESCENTRESDESPROFILSUSER" nillable="true" type="tns:ArrayOfCsCentreDuProfil" />
      <xs:element minOccurs="0" name="LESPROFILSUTILISATEUR" nillable="true" type="tns:ArrayOfCsProfil" />
      <xs:element minOccurs="0" name="LIBELLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LIBELLECENTRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LIBELLEFONCTION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LIBELLEPERIMETREACTION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LIBELLESTATUSCOMPTE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOGINNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MATRICULE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBREECHECSOUVERTURESESSION" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PASSE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PERIMETREACTION" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="PK_ID" type="xs:int" />
      <xs:element minOccurs="0" name="STATUSCOMPTE" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TELEPHONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRANS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USERCREATION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USERMODIFICATION" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CsUtilisateur" nillable="true" type="tns:CsUtilisateur" />
  <xs:complexType name="ArrayOfCsCentreDuProfil">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsCentreDuProfil" nillable="true" type="tns:CsCentreDuProfil" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsCentreDuProfil" nillable="true" type="tns:ArrayOfCsCentreDuProfil" />
  <xs:complexType name="CsCentreDuProfil">
    <xs:sequence>
      <xs:element minOccurs="0" name="DATEDEBUTVALIDITE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DATEFINVALIDITE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="lescentres" nillable="true" type="tns:ArrayOfCsCentre" />
      <xs:element minOccurs="0" name="unprofil" nillable="true" type="tns:CsProfil" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CsCentreDuProfil" nillable="true" type="tns:CsCentreDuProfil" />
  <xs:complexType name="ArrayOfCsCentre">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsCentre" nillable="true" type="tns:CsCentre" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsCentre" nillable="true" type="tns:ArrayOfCsCentre" />
  <xs:complexType name="CsCentre">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CsPrint">
        <xs:sequence>
          <xs:element minOccurs="0" name="ADRESSE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CODENIVEAUTARIF" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CODESITE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CODESOUSCOMPTE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COMPTEECLAIRAGEPUBLIC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DATECREATION" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATEFIN" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATEMODIFICATION" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FK_IDCODESITE" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDNIVEAUTARIF" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDTYPECENTRE" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="GESTIONAUTOAVANCECONSO" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="GESTIONAUTOFRAIS" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsSelect" type="xs:boolean" />
          <xs:element minOccurs="0" name="LESPRODUITSDUSITE" nillable="true" type="tns:ArrayOfCsProduit" />
          <xs:element minOccurs="0" name="LIBELLE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LIBELLENIVEAUTARIF" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LIBELLESITE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LIBELLETYPECENTRE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NUMDEM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NUMEROAUTOCLIENT" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="NUMERODEMANDE" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="NUMEROFACTURE" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="NUMEROFACTUREPARCLIENT" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="PK_ID" type="xs:int" />
          <xs:element minOccurs="0" name="TELDEPANNAGE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TELRENSEIGNEMENT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TYPECENTRE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="USERCREATION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="USERMODIFICATION" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CsCentre" nillable="true" type="tns:CsCentre" />
  <xs:complexType name="ArrayOfCsProduit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsProduit" nillable="true" type="tns:CsProduit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsProduit" nillable="true" type="tns:ArrayOfCsProduit" />
  <xs:complexType name="CsProduit">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CsPrint">
        <xs:sequence>
          <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DATECREATION" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATEFIN" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATEMODIFICATION" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FK_IDCENTRE" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDPRODUIT" type="xs:int" />
          <xs:element minOccurs="0" name="GESTIONTRANSFO" type="xs:int" />
          <xs:element minOccurs="0" name="IsNewRow" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsSelect" type="xs:boolean" />
          <xs:element minOccurs="0" name="LIBELLE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MODESAISIE" type="xs:int" />
          <xs:element minOccurs="0" name="NBREDEPOINT" type="xs:int" />
          <xs:element minOccurs="0" name="OriginalCODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PK_ID" type="xs:int" />
          <xs:element minOccurs="0" name="USERCREATION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="USERMODIFICATION" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CsProduit" nillable="true" type="tns:CsProduit" />
  <xs:complexType name="CsProfil">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODEFONCTION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DATECREATION" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DATEDEBUT" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DATEFIN" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DATEMODIFICATION" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FK_IDADMUTILISATEUR" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDFONCTION" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDPROFIL" type="xs:int" />
      <xs:element minOccurs="0" name="IsSelect" type="xs:boolean" />
      <xs:element minOccurs="0" name="LESCENTRESPROFIL" nillable="true" type="tns:ArrayOfCsCentreProfil" />
      <xs:element minOccurs="0" name="LIBELLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODULE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PK_ID" type="xs:int" />
      <xs:element minOccurs="0" name="USERCREATION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USERMODIFICATION" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CsProfil" nillable="true" type="tns:CsProfil" />
  <xs:complexType name="ArrayOfCsCentreProfil">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsCentreProfil" nillable="true" type="tns:CsCentreProfil" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsCentreProfil" nillable="true" type="tns:ArrayOfCsCentreProfil" />
  <xs:complexType name="CsCentreProfil">
    <xs:sequence>
      <xs:element minOccurs="0" name="DATEDEBUTVALIDITE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DATEFINVALIDITE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FK_IDADMUTILISATEUR" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDCENTRE" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDPROFIL" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDSITE" type="xs:int" />
      <xs:element minOccurs="0" name="LIBELLECENTRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PK_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CsCentreProfil" nillable="true" type="tns:CsCentreProfil" />
  <xs:complexType name="ArrayOfCsProfil">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsProfil" nillable="true" type="tns:CsProfil" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsProfil" nillable="true" type="tns:ArrayOfCsProfil" />
  <xs:complexType name="ArrayOfCsRetourScelles">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsRetourScelles" nillable="true" type="tns:CsRetourScelles" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsRetourScelles" nillable="true" type="tns:ArrayOfCsRetourScelles" />
  <xs:complexType name="CsRetourScelles">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeCentre" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Couleur_libelle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date_Retour" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Donneur_Mat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_DetailRetour" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Id_Retour" type="ser:guid" />
      <xs:element minOccurs="0" name="Id_Scelle" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Motif_Retour" type="xs:int" />
      <xs:element minOccurs="0" name="Nbre_Scelles" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Numero_Scelle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Receveur_Mat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Statut_Scelle" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CsRetourScelles" nillable="true" type="tns:CsRetourScelles" />
  <xs:complexType name="ArrayOfCsRefStatutsScelles">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsRefStatutsScelles" nillable="true" type="tns:CsRefStatutsScelles" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsRefStatutsScelles" nillable="true" type="tns:ArrayOfCsRefStatutsScelles" />
  <xs:complexType name="CsRefStatutsScelles">
    <xs:sequence>
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CsRefStatutsScelles" nillable="true" type="tns:CsRefStatutsScelles" />
</xs:schema>