Galatee.WcfService/Service References/ServiceWeb/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1818/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Galatee.Structure" />
  <xs:import schemaLocation="http://localhost:1818/Service1.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:1818/Service1.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="RetourneEtatDeCaisse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caisse" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MatriculeConect" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DateEncaissement" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsCourant" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneEtatDeCaisseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneEtatDeCaisseResult" nillable="true" type="q1:ArrayOfCsReglement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeMoratoire">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caisse" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="acquit" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matricule" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeMoratoireResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeMoratoireResult" nillable="true" type="q2:ArrayOfCsMoratoire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneDetailMoratoire">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="centre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ordre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parm" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneDetailMoratoireResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneDetailMoratoireResult" nillable="true" type="q3:CsFacture" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListePaiementDuRecu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numcaisse" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numrecu" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matricle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListePaiementDuRecuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListePaiementDuRecuResult" nillable="true" type="q4:ArrayOfCsReglement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsererEncaissement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ReglementAInserer" nillable="true" type="q5:ArrayOfCsReglement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsererEncaissementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsererEncaissementResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneNumeroRecu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caisse" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matricule" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneNumeroRecuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetourneNumeroRecuResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnnuleEncaissement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ListFactureAnnule" nillable="true" type="q6:ArrayOfCsReglement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnnuleEncaissementResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneDemande">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumDemande" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneDemandeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneDemandeResult" nillable="true" type="q7:CsDemande" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeDeSite">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeDeSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeDeSiteResult" nillable="true" type="q8:ArrayOfCsSite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneModeRegDiffDeUnDeux">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneModeRegDiffDeUnDeuxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneModeRegDiffDeUnDeuxResult" nillable="true" type="q9:ArrayOfCsModereglement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneLeDevis">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumDevis" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneLeDevisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneLeDevisResult" nillable="true" type="q10:CsFacture" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MiseAJourDevis">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumDevis" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Matricule" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MiseAJourDevisResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifieCaisseOuverteALaDemande">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Matricule" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifieCaisseOuverteALaDemandeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="VerifieCaisseOuverteALaDemandeResult" nillable="true" type="q11:CsOpenningDay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifieCaisseDejaSaisie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dateEncaissement" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matricule" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="err" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifieCaisseDejaSaisieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifieCaisseDejaSaisieResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="err" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MiseAJourMoratoire">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumMoratoire" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MiseAJourMoratoireResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeDeCoperOD">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeDeCoperODResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeDeCoperODResult" nillable="true" type="q12:ArrayOfCsCoper" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeTa58">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodeTable" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeTa58Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeTa58Result" nillable="true" type="q13:CsTa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListeCaisse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListeCaisseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ListeCaisseResult" nillable="true" type="q14:ArrayOfCParametre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuDuRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodeFonction" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuDuRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetMenuDuRoleResult" nillable="true" type="q15:ArrayOfKeyValueOfCSMenuGalateeArrayOfTreeNodesb6rPkRsK" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListImprante">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListImpranteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListImpranteResult" nillable="true" type="q16:ArrayOfCParametre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="returnEnumereWrapper">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="returnEnumereWrapperResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="returnEnumereWrapperResult" nillable="true" type="q17:EnumereWrap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="launchPrinting">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ReportParameter" nillable="true" type="q18:ArrayOfstring" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ListeDesReglementAEditer" nillable="true" type="q19:ArrayOfCsReglement" />
        <xs:element minOccurs="0" name="printerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="launchPrintingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="launchPrintingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="returnEnumere">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="returnEnumereResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="returnEnumereResult" nillable="true" type="q20:Enumere" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContextExecution">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ContextExecutionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContextExecutionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="composite" nillable="true" type="q21:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q22:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneInfoMatriculeConnecte">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricule" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneInfoMatriculeConnecteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneInfoMatriculeConnecteResult" nillable="true" type="q23:CsUserConnecte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerMenuEtSousMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projetName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerMenuEtSousMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ChargerMenuEtSousMenuResult" nillable="true" type="q24:ArrayOfCSMenuGalatee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerMenuEtSousMenuDuProfil">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodeProfil" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerMenuEtSousMenuDuProfilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ChargerMenuEtSousMenuDuProfilResult" nillable="true" type="q25:ArrayOfCSMenuGalatee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerListeCodeRegroupement">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerListeCodeRegroupementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ChargerListeCodeRegroupementResult" nillable="true" type="q26:ArrayOfCsCodeRegroupement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifieEtatCaisse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MatriculeConnecter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifieEtatCaisseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifieEtatCaisseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestClientExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="centre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ordre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestClientExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="TestClientExistResult" nillable="true" type="q27:CsClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestClientExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="centre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ordre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestClientExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="TestClientExistsResult" nillable="true" type="q28:CsClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneNumCaisse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MatriculeConnecter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneNumCaisseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetourneNumCaisseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeFacture">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="centre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ordre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeFactureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeFactureResult" nillable="true" type="q29:ArrayOfCsFacture" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeDesClientsReg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodeRegroupement" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeDesClientsRegResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RetourneListeDesClientsRegResult" nillable="true" type="q30:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListeDesCaissiere">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListeDesCaissiereResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="getListeDesCaissiereResult" nillable="true" type="q31:ArrayOfaGroupingCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListeDesNonCaissiere">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListeDesNonCaissiereResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="getListeDesNonCaissiereResult" nillable="true" type="q32:ArrayOfaGroupingCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValideOuvertureCaisse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matriculeCaisse" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matriculeOperateur" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="raison" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="saisipar" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CaisseEstManuel" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValideOuvertureCaisseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValideOuvertureCaisseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeDesBanques">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeDesBanquesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeDesBanquesResult" nillable="true" type="q33:ArrayOfCParametre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClosureOfCashRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Caisse" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClosureOfCashRegisterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListePaiementPourAnnulation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caisse" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="acquit" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matricule" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListePaiementPourAnnulationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListePaiementPourAnnulationResult" nillable="true" type="q34:ArrayOfCsReglement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneRecuDeCaisse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Matricule" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CaisseEstManuel" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneRecuDeCaisseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneRecuDeCaisseResult" nillable="true" type="q35:ArrayOfCsReglement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneRecuDeCaisseList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Matricule" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CaisseEstManuel" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneRecuDeCaisseListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneRecuDeCaisseListResult" nillable="true" type="q36:ArrayOfCsReglement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneNumFactureNaf">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="centre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneNumFactureNafResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetourneNumFactureNafResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneLigneNaf">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="param1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="param2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="param3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="param4" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneLigneNafResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneLigneNafResult" nillable="true" type="q37:ArrayOfCsFacture" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>