Galatee.Silverlight/Service References/ServicePrintings/PrintingsService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1818/Printings/PrintingsService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Galatee.Structure" />
  <xs:import schemaLocation="http://localhost:1818/Printings/PrintingsService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Upload">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="image" nillable="true" type="q1:CsImageFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="UploadResult" nillable="true" type="q2:ArrayOfCsImageFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneStatistiqueTravaux_Brt_Ext">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneStatistiqueTravaux_Brt_ExtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneStatistiqueTravaux_Brt_ExtResult" nillable="true" type="q3:ArrayOfCsStatistiqueTravaux_Brt_Ext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setFromWebPart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ObjectTable" nillable="true" type="q4:ArrayOfCsPrint" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parameters" nillable="true" type="q5:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setFromWebPartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setFromWebPartResult" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCsDonnesStatistiqueDemande">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCsDonnesStatistiqueDemandeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneCsDonnesStatistiqueDemandeResult" nillable="true" type="q6:ArrayOfCsDonnesStatistiqueDemande" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setFromWebPartWithSplit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ObjectTable" nillable="true" type="q7:ArrayOfCsPrint" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parameter" nillable="true" type="q8:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setFromWebPartWithSplitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setFromWebPartWithSplitResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setFromWebPartStrint">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ObjectTable" nillable="true" type="q9:ArrayOfCsPrint" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parameter" nillable="true" type="q10:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setFromWebPartStrintResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setFromWebPartStrintResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCsPrintFromWebPart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCsPrintFromWebPartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="GetCsPrintFromWebPartResult" nillable="true" type="q11:ArrayOfCsPrint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCsPrintFromWebPartBalanceAgee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCsPrintFromWebPartBalanceAgeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="GetCsPrintFromWebPartBalanceAgeeResult" nillable="true" type="q12:ArrayOfCsBalance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getParametersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getParametersResult" nillable="true" type="q13:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetErrorsFromSilverlightWebPrinting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="methodInvoquante" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetErrorsFromSilverlightWebPrintingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetErrorsFromSilverlightWebPrintingResult" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Stat_LoadCampgne">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Stat_LoadCampgneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="Stat_LoadCampgneResult" nillable="true" type="q14:ArrayOfCsCampagnesBTAAccessiblesParLUO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EtatCaisse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EtatCaisseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="EtatCaisseResult" nillable="true" type="q15:ArrayOfCsHabilitationCaisse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DemandeBase">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DemandeBaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="DemandeBaseResult" nillable="true" type="q16:ArrayOfCsDemandeBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportListeEncaissements">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportListeEncaissementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ReportListeEncaissementsResult" nillable="true" type="q17:ArrayOfCsReglementRecu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListeCsHabilitationProgram">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListeCsHabilitationProgramResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ListeCsHabilitationProgramResult" nillable="true" type="q18:ArrayOfCsHabilitationProgram" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustumEclairagePublic">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustumEclairagePublicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="GetCustumEclairagePublicResult" nillable="true" type="q19:ArrayOfCustumEclairagePublic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetailCampagne">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetailCampagneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="GetDetailCampagneResult" nillable="true" type="q20:ArrayOfCsDetailCampagne" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EtatHabilitationMetier">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EtatHabilitationMetierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="EtatHabilitationMetierResult" nillable="true" type="q21:ArrayOfCsHabilitationMetier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EtatHabilitationMenu">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EtatHabilitationMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="EtatHabilitationMenuResult" nillable="true" type="q22:ArrayOfCsHabilitationMenu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneAnomalie">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneAnomalieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneAnomalieResult" nillable="true" type="q23:ArrayOfCsAnnomalie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditionDevis">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditionDevisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="EditionDevisResult" nillable="true" type="q24:ArrayOfCsEditionDevis" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditerOT">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditerOTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="EditerOTResult" nillable="true" type="q25:ArrayOfCsOrdreTravail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditerEnquete">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditerEnqueteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="EditerEnqueteResult" nillable="true" type="q26:ArrayOfCsEvenement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditerAvisClient">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditerAvisClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="EditerAvisClientResult" nillable="true" type="q27:ArrayOfCsAvisDeCoupureClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditerSortiMateriel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditerSortiMaterielResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="EditerSortiMaterielResult" nillable="true" type="q28:ArrayOfObjELEMENTDEVIS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditerContrat">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditerContratResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="EditerContratResult" nillable="true" type="q29:ArrayOfCsContrat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditerCampagnePrecontentieux">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditerCampagnePrecontentieuxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="EditerCampagnePrecontentieuxResult" nillable="true" type="q30:ArrayOfCsDetailCampagnePrecontentieux" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditerCannalisation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditerCannalisationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="EditerCannalisationResult" nillable="true" type="q31:ArrayOfCsCanalisation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditerImpayeCategorie">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditerImpayeCategorieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="EditerImpayeCategorieResult" nillable="true" type="q32:ArrayOfCsLclient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditerCsEnteteFacture">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditerCsEnteteFactureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="EditerCsEnteteFactureResult" nillable="true" type="q33:ArrayOfCsEnteteFacture" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditerCsProduitFacture">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditerCsProduitFactureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="EditerCsProduitFactureResult" nillable="true" type="q34:ArrayOfCsProduitFacture" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditerCsRedevanceFacture">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditerCsRedevanceFactureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="EditerCsRedevanceFactureResult" nillable="true" type="q35:ArrayOfCsRedevanceFacture" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditerCsMandatementGc">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditerCsMandatementGcResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="EditerCsMandatementGcResult" nillable="true" type="q36:ArrayOfCsMandatementGc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditerCsMaterielDemande">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditerCsMaterielDemandeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="EditerCsMaterielDemandeResult" nillable="true" type="q37:ArrayOfCsMaterielDemande" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditerCsCtax">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditerCsCtaxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="EditerCsCtaxResult" nillable="true" type="q38:ArrayOfCsCtax" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditerCsCaisse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditerCsCaisseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="EditerCsCaisseResult" nillable="true" type="q39:ArrayOfCsCaisse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditerCsCoutDemande">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditerCsCoutDemandeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="EditerCsCoutDemandeResult" nillable="true" type="q40:ArrayOfCsCoutDemande" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditerCsRemiseScelleByAg">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditerCsRemiseScelleByAgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="EditerCsRemiseScelleByAgResult" nillable="true" type="q41:ArrayOfCsRemiseScelleByAg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditerCsProgarmmation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditerCsProgarmmationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="EditerCsProgarmmationResult" nillable="true" type="q42:ArrayOfCsProgarmmation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditerCsDepannage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditerCsDepannageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="EditerCsDepannageResult" nillable="true" type="q43:ArrayOfCsDepannage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditerCsReclamationRcl">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditerCsReclamationRclResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="EditerCsReclamationRclResult" nillable="true" type="q44:ArrayOfCsReclamationRcl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditercStatistiqueReclamation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditercStatistiqueReclamationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="EditercStatistiqueReclamationResult" nillable="true" type="q45:ArrayOfcStatistiqueReclamation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCsEditionFactureFd">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCsEditionFactureFdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneCsEditionFactureFdResult" nillable="true" type="q46:ArrayOfCsEditionFactureFd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCsComptabilisation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCsComptabilisationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneCsComptabilisationResult" nillable="true" type="q47:ArrayOfCsComptabilisation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCsEcritureComptable">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCsEcritureComptableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneCsEcritureComptableResult" nillable="true" type="q48:ArrayOfCsEcritureComptable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneStatFact">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneStatFactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneStatFactResult" nillable="true" type="q49:ArrayOfCsStatFact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCsStatFactRecap">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCsStatFactRecapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneCsStatFactRecapResult" nillable="true" type="q50:ArrayOfCsStatFactRecap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCsFichierPersonnel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCsFichierPersonnelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneCsFichierPersonnelResult" nillable="true" type="q51:ArrayOfCsFichierPersonnel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCsCompteurBta">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCsCompteurBtaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneCsCompteurBtaResult" nillable="true" type="q52:ArrayOfCsCompteurBta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCsBalanceAgee">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCsBalanceAgeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneCsBalanceAgeeResult" nillable="true" type="q53:ArrayOfCsBalanceAgee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCsBalance">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCsBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneCsBalanceResult" nillable="true" type="q54:ArrayOfCsBalance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCsClientRechercher">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCsClientRechercherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneCsClientRechercherResult" nillable="true" type="q55:ArrayOfCsClientRechercher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCsTranscaisse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCsTranscaisseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneCsTranscaisseResult" nillable="true" type="q56:ArrayOfCsTranscaisse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCsTournee">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCsTourneeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneCsTourneeResult" nillable="true" type="q57:ArrayOfCsTournee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCsComparaisonFacture">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCsComparaisonFactureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneCsComparaisonFactureResult" nillable="true" type="q58:ArrayOfCsComparaisonFacture" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCsClient">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCsClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneCsClientResult" nillable="true" type="q59:ArrayOfCsClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>