Galatee.Silverlight/Service References/ServiceWorkflow/Workflow.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1818/Workflow/Workflow.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:1818/Workflow/Workflow.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:1818/Workflow/Workflow.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Galatee.Structure" />
  <xs:element name="InsererMaDemande">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="centreId" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="workflowId" type="q1:guid" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OpId" type="q2:guid" />
        <xs:element minOccurs="0" name="IDVotreLigne" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MatriculeUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodeDeVotreDemande" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsererMaDemandeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsererMaDemandeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsererMaDemandeToGroupeValidation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="centreId" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="workflowId" type="q3:guid" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="OpId" type="q4:guid" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdGroupeValidation" type="q5:guid" />
        <xs:element minOccurs="0" name="IDVotreLigne" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MatriculeUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodeDeVotreDemande" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsererMaDemandeToGroupeValidationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsererMaDemandeToGroupeValidationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuterActionSurDemande">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodeDemande" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodeAction" type="xs:int" />
        <xs:element minOccurs="0" name="MatriculeUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Commentaire" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuterActionSurDemandeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuterActionSurDemandeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllerALEtape">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodeDemande" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodeAction" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="EtapeId" type="q6:guid" />
        <xs:element minOccurs="0" name="MatriculeUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Commentaire" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllerALEtapeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AllerALEtapeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuterActionSurPlusieursDemandes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CodesDemandes" nillable="true" type="q7:ArrayOfstring" />
        <xs:element minOccurs="0" name="CodeAction" type="xs:int" />
        <xs:element minOccurs="0" name="MatriculeUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Commentaire" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuterActionSurPlusieursDemandesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuterActionSurPlusieursDemandesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuterActionSurDemandeParPkIDLigne">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="pkIds" nillable="true" type="q8:ArrayOfint" />
        <xs:element minOccurs="0" name="FkidEtapeActuelle" type="xs:int" />
        <xs:element minOccurs="0" name="CodeAction" type="xs:int" />
        <xs:element minOccurs="0" name="MatriculeUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Commentaire" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuterActionSurDemandeParPkIDLigneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuterActionSurDemandeParPkIDLigneResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifierConditionDemande">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeDemande" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FKIDTableTravail" type="xs:int" />
        <xs:element minOccurs="0" name="PKIDLigne" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifierConditionDemandeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifierConditionDemandeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecupererInfoDemandeParOperationId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeDemande" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="Operation" type="q9:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecupererInfoDemandeParOperationIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RecupererInfoDemandeParOperationIdResult" nillable="true" type="q10:CsInfoDemandeWorkflow" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecupererInfoDemandeParCodeTDem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="lademande" nillable="true" type="q11:CsDemandeBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecupererInfoDemandeParCodeTDemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RecupererInfoDemandeParCodeTDemResult" nillable="true" type="q12:CsInfoDemandeWorkflow" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificationMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstDestinataire" nillable="true" type="q13:ArrayOfstring" />
        <xs:element minOccurs="0" name="CodeTypeMail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificationMailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificationMailDemande">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstDestinataire" nillable="true" type="q14:ArrayOfstring" />
        <xs:element minOccurs="0" name="NumeroDemande" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TypeDemande" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodeTypeMail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificationMailDemandeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>