Galatee.Silverlight/Service References/ServiceSig/SigService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1818/SIG/SigService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Galatee.Structure" />
  <xs:element name="RetourneCoordonneesAbon">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="client" nillable="true" type="q1:CsClientRechercher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCoordonneesAbonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneCoordonneesAbonResult" nillable="true" type="q2:ArrayOfCsAbonneCarte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCoordonneesAbonCampagne">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdCoupure" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCoordonneesAbonCampagneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneCoordonneesAbonCampagneResult" nillable="true" type="q3:ArrayOfCsAbonneCarte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>