Licence.Web/Service References/ServiceAuthenInitialize/AuthentInitializeService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1818/AuthentInitialize/AuthentInitializeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Galatee.Structure" />
  <xs:import schemaLocation="http://localhost:1818/AuthentInitialize/AuthentInitializeService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetStrategieSecuriteActif">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStrategieSecuriteActifResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="GetStrategieSecuriteActifResult" nillable="true" type="q1:CsStrategieSecurite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="File" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SaveFileResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LicenseInferieurPeriodeAvertissemnt">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LicenseInferieurPeriodeAvertissemntResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LicenseInferieurPeriodeAvertissemntResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LicenseInferieurPeriodeValidite">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LicenseInferieurPeriodeValiditeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LicenseInferieurPeriodeValiditeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="returnEnumProcedureStockee">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="returnEnumProcedureStockeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="returnEnumProcedureStockeeResult" nillable="true" type="q3:EnumProcedureStockee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListeModule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="agent" nillable="true" type="q4:CsUserConnecte" />
        <xs:element minOccurs="0" name="ServerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListeModuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="GetListeModuleResult" nillable="true" type="q5:ArrayOfCsDesktopGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneInfoMatriculeConnecte">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricule" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ServerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneInfoMatriculeConnecteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneInfoMatriculeConnecteResult" nillable="true" type="q6:CsUserConnecte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuDuRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodeFonction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Module" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ServerMode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuDuRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetMenuDuRoleResult" nillable="true" type="q7:ArrayOfKeyValueOfCSMenuGalateeArrayOfTreeNodesb6rPkRsK" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="returnEnumereWrapper">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="returnEnumereWrapperResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="returnEnumereWrapperResult" nillable="true" type="q8:EnumereWrap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListImprante">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListImpranteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListImpranteResult" nillable="true" type="q9:ArrayOfCImprimante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalMachine">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalMachineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLocalMachineResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAddresse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAddresseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="GetListAddresseResult" nillable="true" type="q10:ArrayOfADRESSE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDefaultPrinter">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getDefaultPrinterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getDefaultPrinterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintReceipt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pRenderStream" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintReceiptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrintReceiptResult" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LireLicence">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LireLicenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LireLicenceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenereLicence">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="licence" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenereLicenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenereLicenceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MajCaisseCaisse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="laCaisse" nillable="true" type="q11:CsCaisse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MajCaisseCaisseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MajCaisseCaisseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>