Galatee.Silverlight.Web/Service References/ServiceIndex/AcceuilService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1818/Acceuil/AcceuilService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Galatee.Structure" />
  <xs:import schemaLocation="http://localhost:1818/Acceuil/AcceuilService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:1818/Acceuil/AcceuilService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="IsDernierEvtEnFacturation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCentre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pClient" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pOrdre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsDernierEvtEnFacturationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsDernierEvtEnFacturationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeDemandeModificationPourSuvie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="centre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numdem" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LstTdem" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="produit" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="datedebut" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="matricule" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeDemandeModificationPourSuvieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeDemandeModificationPourSuvieResult" nillable="true" type="q1:ArrayOfCsDemandeBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneDetailDemande">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="laDemande" nillable="true" type="q2:CsDemandeBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneDetailDemandeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneDetailDemandeResult" nillable="true" type="q3:CsDemande" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneEvenementDeLaCanalisation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="LstCanalisation" nillable="true" type="q4:ArrayOfCsCanalisation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneEvenementDeLaCanalisationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneEvenementDeLaCanalisationResult" nillable="true" type="q5:ArrayOfCsEvenement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneDernierEvenementDeLaCanalisation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="LstCanalisation" nillable="true" type="q6:ArrayOfCsCanalisation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneDernierEvenementDeLaCanalisationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneDernierEvenementDeLaCanalisationResult" nillable="true" type="q7:ArrayOfCsEvenement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneClasseurClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="_LeClientRecherche" nillable="true" type="q8:CsClientRechercher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneClasseurClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneClasseurClientResult" nillable="true" type="q9:CsClasseurClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeReglement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fk_idcentre" type="xs:int" />
        <xs:element minOccurs="0" name="Centre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Ordre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeReglementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeReglementResult" nillable="true" type="q10:ArrayOfCsLclient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneLeCompteClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fk_idcentre" type="xs:int" />
        <xs:element minOccurs="0" name="centre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ordre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneLeCompteClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneLeCompteClientResult" nillable="true" type="q11:CsCompteClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditionClasseurClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="_leClasseurClient" nillable="true" type="q12:CsClasseurClient" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditionClasseurClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditionClasseurClientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneModificationBrt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="_LeClientRecherche" nillable="true" type="q13:CsClientRechercher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneModificationBrtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneModificationBrtResult" nillable="true" type="q14:CsClasseurClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MAJDemande">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="_LaDemandeMiseAJoure" nillable="true" type="q15:CsDemandeBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MAJDemandeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MAJDemandeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCompteClientTransfert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="LeClient" nillable="true" type="q16:CsClientRechercher" />
        <xs:element minOccurs="0" name="Orientation" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCompteClientTransfertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneCompteClientTransfertResult" nillable="true" type="q17:ArrayOfCsLclient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MajPayeur">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="_LePayeur" nillable="true" type="q18:CsLePayeur" />
        <xs:element minOccurs="0" name="Action" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MajPayeurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MajPayeurResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneLesPayeur">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneLesPayeurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneLesPayeurResult" nillable="true" type="q19:ArrayOfCsLePayeur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupprimeEvtNonFacture">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fk_idcentre" type="xs:int" />
        <xs:element minOccurs="0" name="centre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ordre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="produit" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="point" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupprimeEvtNonFactureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SupprimeEvtNonFactureResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeDesCampagne">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstCentre" nillable="true" type="q20:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeDesCampagneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeDesCampagneResult" nillable="true" type="q21:ArrayOfCsCAMPAGNE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneFactureCampagne">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdCampagen" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="centre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ordre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneFactureCampagneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneFactureCampagneResult" nillable="true" type="q22:ArrayOfCsDetailCampagne" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneTypeCoupure">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneTypeCoupureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneTypeCoupureResult" nillable="true" type="q23:ArrayOfCsTypeCoupure" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsererFraisPose">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="laFacture" nillable="true" type="q24:CsLclient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsererFraisPoseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsererFraisPoseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCodeControle">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCodeControleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneCodeControleResult" nillable="true" type="q25:ArrayOfCsCodeControle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneTypeLot">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneTypeLotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneTypeLotResult" nillable="true" type="q26:ArrayOfCsTypeLot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneOrigine">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneOrigineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneOrigineResult" nillable="true" type="q27:ArrayOfCsOrigineLot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeDesTypeLot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Origine" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TypeLot" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeDesTypeLotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeDesTypeLotResult" nillable="true" type="q28:ArrayOfCsLotCompteClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeDesDetailLot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Idlot" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeDesDetailLotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeDesDetailLotResult" nillable="true" type="q29:ArrayOfCsDetailLot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValiderSaisieBactch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="_LaSaisie" nillable="true" type="q30:CsSaisieDeMasse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValiderSaisieBactchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValiderSaisieBactchResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneNatureParCoper">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Coper" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneNatureParCoperResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneNatureParCoperResult" nillable="true" type="q31:CsNatgen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCoper">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Coper" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCoperResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneCoperResult" nillable="true" type="q32:CsCoper" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneTousCoper">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneTousCoperResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneTousCoperResult" nillable="true" type="q33:ArrayOfCsCoper" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneMaxIDlot">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneMaxIDlotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetourneMaxIDlotResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValiderMiseAJourBatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ListLot" nillable="true" type="q34:ArrayOfCsLotCompteClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValiderMiseAJourBatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValiderMiseAJourBatchResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneDetailLot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="LesLot" nillable="true" type="q35:ArrayOfCsLotCompteClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneDetailLotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneDetailLotResult" nillable="true" type="q36:ArrayOfCsDetailLot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCompteAjuste">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ListLot" nillable="true" type="q37:ArrayOfCsLotCompteClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCompteAjusteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneCompteAjusteResult" nillable="true" type="q38:ArrayOfCsLclient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurgeLot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ListLot" nillable="true" type="q39:ArrayOfCsLotCompteClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurgeLotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PurgeLotResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setLotInWebPart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="objectList" nillable="true" type="q40:ArrayOfCsDetailLot" />
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parameters" nillable="true" type="q41:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setLotInWebPartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setLotInWebPartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDetailLotFromWebPart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDetailLotFromWebPartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="getDetailLotFromWebPartResult" nillable="true" type="q42:ArrayOfCsDetailLot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLotFromWebPart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLotFromWebPartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteLotFromWebPartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setLotCompteClientInWebPart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="objectList" nillable="true" type="q43:ArrayOfCsLotCompteClient" />
        <xs:element xmlns:q44="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parameters" nillable="true" type="q44:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setLotCompteClientInWebPartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setLotCompteClientInWebPartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCompteLotClientFromWebPart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCompteLotClientFromWebPartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="getCompteLotClientFromWebPartResult" nillable="true" type="q45:ArrayOfCsLotCompteClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLotCompteClientFromWebPart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLotCompteClientFromWebPartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteLotCompteClientFromWebPartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setCompteAjusteInWebPart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="objectList" nillable="true" type="q46:ArrayOfCsLclient" />
        <xs:element xmlns:q47="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parameters" nillable="true" type="q47:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setCompteAjusteInWebPartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setCompteAjusteInWebPartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCompteAjusteFromWebPart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCompteAjusteFromWebPartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="getCompteAjusteFromWebPartResult" nillable="true" type="q48:ArrayOfCsLclient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCompteAjusteFromWebPart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCompteAjusteFromWebPartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCompteAjusteFromWebPartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturneObjetScan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="laDamande" nillable="true" type="q49:CsDemandeBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturneObjetScanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ReturneObjetScanResult" nillable="true" type="q50:ObjDOCUMENTSCANNE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValiderCreationFactureIsole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="lstEvenement" nillable="true" type="q51:ArrayOfCsEvenement" />
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="lstPagisole" nillable="true" type="q52:ArrayOfCsPagisol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValiderCreationFactureIsoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValiderCreationFactureIsoleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerTypeDocument">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerTypeDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ChargerTypeDocumentResult" nillable="true" type="q53:ArrayOfCsTypeDOCUMENTSCANNE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerCategorieClient_TypeClient">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerCategorieClient_TypeClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ChargerCategorieClient_TypeClientResult" nillable="true" type="q54:ArrayOfCsCATEGORIECLIENT_TYPECLIENT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerNatureClient_TypeClient">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerNatureClient_TypeClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ChargerNatureClient_TypeClientResult" nillable="true" type="q55:ArrayOfCsNATURECLIENT_TYPECLIENT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerUsage_NatureClient">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerUsage_NatureClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ChargerUsage_NatureClientResult" nillable="true" type="q56:ArrayOfCsUSAGE_NATURECLIENT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerCategorieClient_Usage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerCategorieClient_UsageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ChargerCategorieClient_UsageResult" nillable="true" type="q57:ArrayOfCsCATEGORIECLIENT_USAGE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemplirProprietaire">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemplirProprietaireResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RemplirProprietaireResult" nillable="true" type="q58:ArrayOfCsProprietaire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParametresDistance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pMaxi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pSeuil" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pMaxiSubvention" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParametresDistanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="GetParametresDistanceResult" nillable="true" type="q59:CsCriteresDevis" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppareilByCodeAppareil">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCodeAppareil" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppareilByCodeAppareilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="GetAppareilByCodeAppareilResult" nillable="true" type="q60:ObjAPPAREILS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAppareil">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAppareilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="GetAllAppareilResult" nillable="true" type="q61:ArrayOfObjAPPAREILS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeDemandeLiaison">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lesdemande" nillable="true" type="q62:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeDemandeLiaisonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeDemandeLiaisonResult" nillable="true" type="q63:ArrayOfCsDemandeBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeCompteurLabo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeCompteurLaboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeCompteurLaboResult" nillable="true" type="q64:ArrayOfCsCompteur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeCompteurMagasin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fk_idcentre" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeCompteurMagasinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeCompteurMagasinResult" nillable="true" type="q65:ArrayOfCsCompteur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeGroupe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codecentre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeGroupeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeGroupeResult" nillable="true" type="q66:ArrayOfCsGroupe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeSortieMaterielLivre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iddemande" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeSortieMaterielLivreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeSortieMaterielLivreResult" nillable="true" type="q67:ArrayOfCsSortieMateriel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeSortieAutreMaterielLivre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iddemande" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeSortieAutreMaterielLivreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeSortieAutreMaterielLivreResult" nillable="true" type="q68:ArrayOfCsSortieAutreMateriel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCompteurMagasin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="lstCompt" nillable="true" type="q69:ArrayOfCsCompteur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCompteurMagasinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCompteurMagasinResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertLiaisonCanalisation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="lstDemande" nillable="true" type="q70:ArrayOfCsDemande" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertLiaisonCanalisationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertLiaisonCanalisationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertGroupe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="legroupe" nillable="true" type="q71:CsGroupe" />
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="lstAgent" nillable="true" type="q72:ArrayOfCsUtilisateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertGroupeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertGroupeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertProgrammation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idgroupe" type="q73:guid" />
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="lstDemande" nillable="true" type="q74:ArrayOfCsDemandeBase" />
        <xs:element minOccurs="0" name="pdate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertProgrammationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertProgrammationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSortieMateriel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdLivreur" type="xs:int" />
        <xs:element minOccurs="0" name="IdRecepteur" type="xs:int" />
        <xs:element minOccurs="0" name="iddemande" type="xs:int" />
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="lstCmpteurDemande" nillable="true" type="q75:ArrayOfCsCanalisation" />
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="lstSortieAutre" nillable="true" type="q76:ArrayOfCsSortieAutreMateriel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSortieMaterielResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertSortieMaterielResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertValidationSortieMateriel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="lstCmpteurDemande" nillable="true" type="q77:ArrayOfCsCanalisation" />
        <xs:element minOccurs="0" name="idrecepteur" type="xs:int" />
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="lstSortieAutre" nillable="true" type="q78:ArrayOfCsSortieAutreMateriel" />
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="lstSortie" nillable="true" type="q79:ArrayOfCsSortieMateriel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertValidationSortieMaterielResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertValidationSortieMaterielResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPieceIdentiteById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPieceIdentiteByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="GetPieceIdentiteByIdResult" nillable="true" type="q80:ObjPIECEIDENTITE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPieceIdentite">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPieceIdentiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="GetAllPieceIdentiteResult" nillable="true" type="q81:ArrayOfObjPIECEIDENTITE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTypeClient">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTypeClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="GetAllTypeClientResult" nillable="true" type="q82:ArrayOfCsTypeClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="GetAllUsageResult" nillable="true" type="q83:ArrayOfCsUsage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStatutJuridique">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStatutJuridiqueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="GetAllStatutJuridiqueResult" nillable="true" type="q84:ArrayOfCsStatutJuridique" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDemandeDevisForUpdateOrConsult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="pCriteresDevis" nillable="true" type="q85:CsCriteresDevis" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDemandeDevisForUpdateOrConsultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="GetDemandeDevisForUpdateOrConsultResult" nillable="true" type="q86:CsInformationsDevis" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevisDemandeDepositAppareilsAutorisationPreuveEtapeSuivante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="pCriteresDevis" nillable="true" type="q87:CsCriteresDevis" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevisDemandeDepositAppareilsAutorisationPreuveEtapeSuivanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="GetDevisDemandeDepositAppareilsAutorisationPreuveEtapeSuivanteResult" nillable="true" type="q88:CsInformationsDevis" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDevisValidationFinale">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="entity" nillable="true" type="q89:ObjDEVIS" />
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="_lElements" nillable="true" type="q90:ArrayOfObjELEMENTDEVIS" />
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="agent" nillable="true" type="q91:ObjMATRICULE" />
        <xs:element minOccurs="0" name="idEtapeSuivi" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDevisValidationFinaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateDevisValidationFinaleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditionDevis">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditionDevisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="EditionDevisResult" nillable="true" type="q92:CsEditionDevis" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="retourneCssite">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="retourneCssiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="retourneCssiteResult" nillable="true" type="q93:ArrayOfCsSite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCodeModePayement">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCodeModePayementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneCodeModePayementResult" nillable="true" type="q94:ArrayOfCsModepaiement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCatCli">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCatCliResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneCatCliResult" nillable="true" type="q95:ArrayOfCsCategorieClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeAllUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeAllUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeAllUserResult" nillable="true" type="q96:ArrayOfCsUtilisateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GET_OPENING_DAYS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="critere" nillable="true" type="q97:aParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GET_OPENING_DAYSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="GET_OPENING_DAYSResult" nillable="true" type="q98:ArrayOfaParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GET_PAYMENT_BY_ACQUIT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="critere" nillable="true" type="q99:aParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GET_PAYMENT_BY_ACQUITResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="GET_PAYMENT_BY_ACQUITResult" nillable="true" type="q100:ArrayOfaParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOpendaySearchToWebPart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="objectList" nillable="true" type="q101:ArrayOfaParam" />
        <xs:element xmlns:q102="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parameters" nillable="true" type="q102:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOpendaySearchToWebPartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetOpendaySearchToWebPartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListeDesDonneesDesSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsIncrementeDemandeNum" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListeDesDonneesDesSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ListeDesDonneesDesSiteResult" nillable="true" type="q103:ArrayOfCsCentre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListeDesProduit">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListeDesProduitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ListeDesProduitResult" nillable="true" type="q104:ArrayOfCsProduit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerCommune">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerCommuneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ChargerCommuneResult" nillable="true" type="q105:ArrayOfCsCommune" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerLesQartiers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerLesQartiersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ChargerLesQartiersResult" nillable="true" type="q106:ArrayOfCsQuartier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerLesSecteurs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerLesSecteursResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ChargerLesSecteursResult" nillable="true" type="q107:ArrayOfCsSecteur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerLesTournees">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerLesTourneesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ChargerLesTourneesResult" nillable="true" type="q108:ArrayOfCsTournee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerDepart">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerDepartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ChargerDepartResult" nillable="true" type="q109:ArrayOfCsDepart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerLesPosteElectrique">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerLesPosteElectriqueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ChargerLesPosteElectriqueResult" nillable="true" type="q110:ArrayOfCsPosteElectrique" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerLesRueDesSecteur">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerLesRueDesSecteurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ChargerLesRueDesSecteurResult" nillable="true" type="q111:ArrayOfCsRues" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCodeConsomateur">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCodeConsomateurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneCodeConsomateurResult" nillable="true" type="q112:ArrayOfCsCodeConsomateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCategorie">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCategorieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneCategorieResult" nillable="true" type="q113:ArrayOfCsCategorieClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneNature">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneNatureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneNatureResult" nillable="true" type="q114:ArrayOfCsNatureClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneFermable">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneFermableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneFermableResult" nillable="true" type="q115:ArrayOfCsFermable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneNationnalite">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneNationnaliteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneNationnaliteResult" nillable="true" type="q116:ArrayOfCsNationalite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeDenominationAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeDenominationAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeDenominationAllResult" nillable="true" type="q117:ArrayOfCsDenomination" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneTousCodeRegroupement">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneTousCodeRegroupementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneTousCodeRegroupementResult" nillable="true" type="q118:ArrayOfCsRegCli" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerDiametreCompteur">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerDiametreCompteurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ChargerDiametreCompteurResult" nillable="true" type="q119:ArrayOfCsDiacomp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneToutCadran">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneToutCadranResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneToutCadranResult" nillable="true" type="q120:ArrayOfCsCadran" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumeroFacture">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PkidCentre" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumeroFactureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumeroFactureResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneToutMarque">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneToutMarqueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneToutMarqueResult" nillable="true" type="q121:ArrayOfCsMarqueCompteur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerTypeBranchement">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerTypeBranchementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ChargerTypeBranchementResult" nillable="true" type="q122:ArrayOfCsTypeBranchement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerDiamentreBranchement">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerDiamentreBranchementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ChargerDiamentreBranchementResult" nillable="true" type="q123:ArrayOfCsDiametreBranchement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneMaterielBranchement">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneMaterielBranchementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneMaterielBranchementResult" nillable="true" type="q124:ArrayOfCsMaterielBranchement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerTarif">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerTarifResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ChargerTarifResult" nillable="true" type="q125:ArrayOfCsTarif" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerTarifPuissance">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerTarifPuissanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ChargerTarifPuissanceResult" nillable="true" type="q126:ArrayOfCsTarif" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerForfait">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerForfaitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ChargerForfaitResult" nillable="true" type="q127:ArrayOfCsForfait" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerPuissance">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerPuissanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ChargerPuissanceResult" nillable="true" type="q128:ArrayOfCsPuissance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerPuissanceDiametre">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerPuissanceDiametreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ChargerPuissanceDiametreResult" nillable="true" type="q129:ArrayOfCsPuissance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerPuissanceInstalle">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerPuissanceInstalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ChargerPuissanceInstalleResult" nillable="true" type="q130:ArrayOfCsPuissance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerTarifParDiametre">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerTarifParDiametreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ChargerTarifParDiametreResult" nillable="true" type="q131:ArrayOfCsTarif" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerTarifParCategorie">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerTarifParCategorieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ChargerTarifParCategorieResult" nillable="true" type="q132:ArrayOfCsTarif" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerTousMois">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerTousMoisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ChargerTousMoisResult" nillable="true" type="q133:ArrayOfCsMois" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerTousFrequence">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerTousFrequenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ChargerTousFrequenceResult" nillable="true" type="q134:ArrayOfCsFrequence" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneTousApplicationTaxe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneTousApplicationTaxeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneTousApplicationTaxeResult" nillable="true" type="q135:ArrayOfCsCodeTaxeApplication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ChargerTypeResult" nillable="true" type="q136:ArrayOfCsTcompteur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerTypeMt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="produit" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="centre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerTypeMtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ChargerTypeMtResult" nillable="true" type="q137:ArrayOfCsTcompteur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerTypeComptage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerTypeComptageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ChargerTypeComptageResult" nillable="true" type="q138:ArrayOfCsTypeComptage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerEtapeDemande">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerEtapeDemandeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ChargerEtapeDemandeResult" nillable="true" type="q139:ArrayOfCsEtapeDemande" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerSpecificiteSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_pSite" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerSpecificiteSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ChargerSpecificiteSiteResult" nillable="true" type="q140:ArrayOfCsSpeSite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechercherClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="_CritereClient" nillable="true" type="q141:CsClientRechercher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechercherClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RechercherClientResult" nillable="true" type="q142:ArrayOfCsClientRechercher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FK_IDCENTRE" type="xs:int" />
        <xs:element minOccurs="0" name="Centre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ordre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneClientResult" nillable="true" type="q143:CsClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneAbon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FK_IDCENTRE" type="xs:int" />
        <xs:element minOccurs="0" name="Centre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ordre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneAbonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneAbonResult" nillable="true" type="q144:ArrayOfCsAbon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneAdresse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FK_IDCENTRE" type="xs:int" />
        <xs:element minOccurs="0" name="Centre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ordre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneAdresseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneAdresseResult" nillable="true" type="q145:CsAg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneBranchement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FK_IDCENTRE" type="xs:int" />
        <xs:element minOccurs="0" name="centre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="produit" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneBranchementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q146="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneBranchementResult" nillable="true" type="q146:ArrayOfCsBrt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneOrdreMax">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="centre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="produit" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneOrdreMaxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetourneOrdreMaxResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerTableDeReference">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Num" type="xs:int" />
        <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Centre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerTableDeReferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ChargerTableDeReferenceResult" nillable="true" type="q147:ArrayOfCParametre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifieSiClientExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="centre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="client" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifieSiClientExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q148="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="VerifieSiClientExistResult" nillable="true" type="q148:CsClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifieSiFactureExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="centre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Ordre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="refem" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Ndoc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifieSiFactureExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="VerifieSiFactureExistResult" nillable="true" type="q149:CsLclient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerCoutDemande">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerCoutDemandeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ChargerCoutDemandeResult" nillable="true" type="q150:ArrayOfCsCoutDemande" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditionCompteClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q151="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="_LeCompteClient" nillable="true" type="q151:ArrayOfCsReglement" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditionCompteClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditionCompteClientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeFactureClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fk_idcentre" type="xs:int" />
        <xs:element minOccurs="0" name="Centre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Ordre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeFactureClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q152="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeFactureClientResult" nillable="true" type="q152:ArrayOfCsLclient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCanalisation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fk_idCentre" type="xs:int" />
        <xs:element minOccurs="0" name="centre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="produit" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="point" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCanalisationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q153="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneCanalisationResult" nillable="true" type="q153:ArrayOfCsCanalisation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneEvenement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fk_idcentre" type="xs:int" />
        <xs:element minOccurs="0" name="centre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Ordre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="produit" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="point" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneEvenementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q154="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneEvenementResult" nillable="true" type="q154:ArrayOfCsEvenement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeToutLeCompteClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="centre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ordre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeToutLeCompteClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q155="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeToutLeCompteClientResult" nillable="true" type="q155:ArrayOfCsReglement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetournePoliceDisponible">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="centre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetournePoliceDisponibleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q156="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetournePoliceDisponibleResult" nillable="true" type="q156:CsPoliceDispo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneDernierEvenementFacturer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fk_idcentre" type="xs:int" />
        <xs:element minOccurs="0" name="centre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Ordre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="produit" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="point" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneDernierEvenementFacturerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q157="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneDernierEvenementFacturerResult" nillable="true" type="q157:ArrayOfCsEvenement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneDernierEvenement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fk_idcentre" type="xs:int" />
        <xs:element minOccurs="0" name="centre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Ordre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="produit" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Point" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneDernierEvenementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q158="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneDernierEvenementResult" nillable="true" type="q158:ArrayOfCsEvenement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValiderDemande">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q159="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="LaDemannde" nillable="true" type="q159:CsDemande" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValiderDemandeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValiderDemandeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValiderDemandeInitailisation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q160="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="LaDemannde" nillable="true" type="q160:CsDemande" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValiderDemandeInitailisationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValiderDemandeInitailisationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevisByRefBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RefBranch" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevisByRefBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q161="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="GetDevisByRefBranchResult" nillable="true" type="q161:CsDemande" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValiderRejetDemande">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q162="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="LaDemannde" nillable="true" type="q162:CsDemandeBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValiderRejetDemandeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValiderRejetDemandeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValiderDemandeWithObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q163="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="LaDemannde" nillable="true" type="q163:CsDemande" />
        <xs:element xmlns:q164="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="leObj" nillable="true" type="q164:ObjDOCUMENTSCANNE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValiderDemandeWithObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValiderDemandeWithObjectResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeDesCas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeDesCasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q165="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeDesCasResult" nillable="true" type="q165:ArrayOfCsCasind" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneLaDemande">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="centre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numdemande" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Fk_IDcentre" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneLaDemandeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q166="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneLaDemandeResult" nillable="true" type="q166:CsDemande" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneExoneration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="centre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="produit" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="regcli" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneExonerationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q167="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneExonerationResult" nillable="true" type="q167:CsRexo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeTaxe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeTaxeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q168="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeTaxeResult" nillable="true" type="q168:ArrayOfCsCtax" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneOptionDemande">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneOptionDemandeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q169="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneOptionDemandeResult" nillable="true" type="q169:ArrayOfCsTdem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetournePagisol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="centre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lotri" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="produit" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetournePagisolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q170="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetournePagisolResult" nillable="true" type="q170:ArrayOfCsPagisol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCompteur">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="produit" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="diametre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="compteur" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Anneefab" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCompteurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q171="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneCompteurResult" nillable="true" type="q171:ArrayOfCsCompteur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneParametreBranchement">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneParametreBranchementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q172="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneParametreBranchementResult" nillable="true" type="q172:ArrayOfCsParametreBranchement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDemandeByNumIdDemande">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdDemandeDevis" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDemandeByNumIdDemandeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q173="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="GetDemandeByNumIdDemandeResult" nillable="true" type="q173:CsDemande" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValiderSuppression">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q174="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="_LePAgisol" nillable="true" type="q174:CsPagisol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValiderSuppressionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q175="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ValiderSuppressionResult" nillable="true" type="q175:ArrayOfCsPagisol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCodeRegroupement">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCodeRegroupementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q176="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneCodeRegroupementResult" nillable="true" type="q176:ArrayOfCsRegCli" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneTousSite">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneTousSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q177="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneTousSiteResult" nillable="true" type="q177:ArrayOfCsSite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeDemande">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="centre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numdem" nillable="true" type="xs:string" />
        <xs:element xmlns:q178="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LstTdem" nillable="true" type="q178:ArrayOfstring" />
        <xs:element minOccurs="0" name="datedebut" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateFin" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="datedemande" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="numerodebut" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numerofin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeDemandeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q179="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeDemandeResult" nillable="true" type="q179:ArrayOfCsDemandeBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeDemandeModification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="centre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numdem" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LstTdem" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="produit" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="datedebut" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="matricule" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeDemandeModificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q180="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeDemandeModificationResult" nillable="true" type="q180:ArrayOfCsDemandeBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeDemandeClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q181="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="leClient" nillable="true" type="q181:CsClientRechercher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeDemandeClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q182="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeDemandeClientResult" nillable="true" type="q182:ArrayOfCsDemandeBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneDemandeClientType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCentre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pClient" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pOrdre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdCentre" type="xs:int" />
        <xs:element minOccurs="0" name="pTdem" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneDemandeClientTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q183="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneDemandeClientTypeResult" nillable="true" type="q183:CsDemandeBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>