Galatee.Silverlight.Web/Service References/ServiceEservice/EserviceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EserviceService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1818/Eservice/EserviceService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1818/Eservice/EserviceService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1818/Eservice/EserviceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Galatee.Structure" />
      <xsd:import schemaLocation="http://localhost:1818/Eservice/EserviceService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEserviceService_ListeDesClientPourEnvoieMail_InputMessage">
    <wsdl:part name="parameters" element="tns:ListeDesClientPourEnvoieMail" />
  </wsdl:message>
  <wsdl:message name="IEserviceService_ListeDesClientPourEnvoieMail_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListeDesClientPourEnvoieMailResponse" />
  </wsdl:message>
  <wsdl:message name="IEserviceService_EnvoyerFactures_InputMessage">
    <wsdl:part name="parameters" element="tns:EnvoyerFactures" />
  </wsdl:message>
  <wsdl:message name="IEserviceService_EnvoyerFactures_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnvoyerFacturesResponse" />
  </wsdl:message>
  <wsdl:message name="IEserviceService_ListeDesFactures_InputMessage">
    <wsdl:part name="parameters" element="tns:ListeDesFactures" />
  </wsdl:message>
  <wsdl:message name="IEserviceService_ListeDesFactures_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListeDesFacturesResponse" />
  </wsdl:message>
  <wsdl:portType name="IEserviceService">
    <wsdl:operation name="ListeDesClientPourEnvoieMail">
      <wsdl:input wsaw:Action="http://tempuri.org/IEserviceService/ListeDesClientPourEnvoieMail" message="tns:IEserviceService_ListeDesClientPourEnvoieMail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEserviceService/ListeDesClientPourEnvoieMailResponse" message="tns:IEserviceService_ListeDesClientPourEnvoieMail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnvoyerFactures">
      <wsdl:input wsaw:Action="http://tempuri.org/IEserviceService/EnvoyerFactures" message="tns:IEserviceService_EnvoyerFactures_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEserviceService/EnvoyerFacturesResponse" message="tns:IEserviceService_EnvoyerFactures_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListeDesFactures">
      <wsdl:input wsaw:Action="http://tempuri.org/IEserviceService/ListeDesFactures" message="tns:IEserviceService_ListeDesFactures_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEserviceService/ListeDesFacturesResponse" message="tns:IEserviceService_ListeDesFactures_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEserviceService" type="tns:IEserviceService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListeDesClientPourEnvoieMail">
      <soap:operation soapAction="http://tempuri.org/IEserviceService/ListeDesClientPourEnvoieMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnvoyerFactures">
      <soap:operation soapAction="http://tempuri.org/IEserviceService/EnvoyerFactures" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListeDesFactures">
      <soap:operation soapAction="http://tempuri.org/IEserviceService/ListeDesFactures" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EserviceService">
    <wsdl:port name="BasicHttpBinding_IEserviceService" binding="tns:BasicHttpBinding_IEserviceService">
      <soap:address location="http://localhost:1818/Eservice/EserviceService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>