Galatee.ModuleLoader/Service References/ServiceAuthenInitialize/AuthentInitializeService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1818/AuthentInitialize/AuthentInitializeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Galatee.Structure" />
  <xs:import schemaLocation="http://localhost:1818/AuthentInitialize/AuthentInitializeService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetNatureByLibelleCourt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="libellenaturee" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNatureByLibelleCourtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="GetNatureByLibelleCourtResult" nillable="true" type="q1:aNature" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="returnEnumProcedureStockee">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="returnEnumProcedureStockeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="returnEnumProcedureStockeeResult" nillable="true" type="q2:EnumProcedureStockee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerMenuEtSousMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projetName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerMenuEtSousMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ChargerMenuEtSousMenuResult" nillable="true" type="q3:ArrayOfCSMenuGalatee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerMenuEtSousMenuDuProfil">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodeProfil" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerMenuEtSousMenuDuProfilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ChargerMenuEtSousMenuDuProfilResult" nillable="true" type="q4:ArrayOfCSMenuGalatee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListeModule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="agent" nillable="true" type="q5:CsUserConnecte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListeModuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="GetListeModuleResult" nillable="true" type="q6:ArrayOfCsDesktopGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneInfoMatriculeConnecte">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricule" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneInfoMatriculeConnecteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneInfoMatriculeConnecteResult" nillable="true" type="q7:CsUserConnecte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuDuRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodeFonction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Module" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuDuRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetMenuDuRoleResult" nillable="true" type="q8:ArrayOfKeyValueOfCSMenuGalateeArrayOfTreeNodesb6rPkRsK" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="returnEnumereWrapper">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="returnEnumereWrapperResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="returnEnumereWrapperResult" nillable="true" type="q9:EnumereWrap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListImprante">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListImpranteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListImpranteResult" nillable="true" type="q10:ArrayOfCParametre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>