Galatee.ModuleLoader/Service References/ServiceAuthenInitialize/AuthentInitializeService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1818/AuthentInitialize/AuthentInitializeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Galatee.Structure" />
  <xs:complexType name="ArrayOfKeyValueOfCSMenuGalateeArrayOfTreeNodesb6rPkRsK">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfCSMenuGalateeArrayOfTreeNodesb6rPkRsK">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Galatee.Structure" name="Key" nillable="true" type="q1:CSMenuGalatee" />
            <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Galatee.Structure" name="Value" nillable="true" type="q2:ArrayOfTreeNodes" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfCSMenuGalateeArrayOfTreeNodesb6rPkRsK" nillable="true" type="tns:ArrayOfKeyValueOfCSMenuGalateeArrayOfTreeNodesb6rPkRsK" />
</xs:schema>