Galatee.Silverlight/Service References/ServiceAdministration/AdministrationService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1818/Administration/AdministrationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Galatee.Structure" />
  <xs:import schemaLocation="http://localhost:1818/Administration/AdministrationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="RetourneListeAllUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeAllUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeAllUserResult" nillable="true" type="q1:ArrayOfCsUtilisateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneBdConfig">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneBdConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneBdConfigResult" nillable="true" type="q2:ArrayOfCsDataBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneTa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="centre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="num" type="xs:int" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneTaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneTaResult" nillable="true" type="q3:CParametre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStrategieSecurite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="admStrategieSecurite" nillable="true" type="q4:CsStrategieSecurite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStrategieSecuriteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStrategieSecuriteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertStrategieSecurite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="admStrategieSecurite" nillable="true" type="q5:CsStrategieSecurite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertStrategieSecuriteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="InsertStrategieSecuriteResult" nillable="true" type="q6:ArrayOfCsStrategieSecurite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStrategieSecurite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdStrategieSecurite" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStrategieSecuriteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteStrategieSecuriteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetActifStrategieSecurite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdStrategieSecurite" type="q8:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetActifStrategieSecuriteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="SetActifStrategieSecuriteResult" nillable="true" type="q9:ArrayOfCsStrategieSecurite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActifStrategieSecurite">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActifStrategieSecuriteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="GetActifStrategieSecuriteResult" nillable="true" type="q10:CsStrategieSecurite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStrategieSecurite">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStrategieSecuriteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="GetAllStrategieSecuriteResult" nillable="true" type="q11:ArrayOfCsStrategieSecurite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertionHabilitationProfil">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fonction" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="habilitations" nillable="true" type="q12:ArrayOfCsHabilitationProgram" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertionHabilitationProfilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertionHabilitationProfilResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRole">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="GetAllRoleResult" nillable="true" type="q13:ArrayOfCsAdmRoles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneAllModuleProgram">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneAllModuleProgramResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneAllModuleProgramResult" nillable="true" type="q14:ArrayOfCsProgramMenu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssocitedToMenuByMenuID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="menuId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssocitedToMenuByMenuIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="GetAssocitedToMenuByMenuIDResult" nillable="true" type="q15:ArrayOfCsAdmRoles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSite">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="GetAllSiteResult" nillable="true" type="q16:ArrayOfCsLibelle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeDesCentre">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeDesCentreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeDesCentreResult" nillable="true" type="q17:ArrayOfCsCentre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByLoginName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByLoginNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="GetByLoginNameResult" nillable="true" type="q18:CsUtilisateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="admUsers" nillable="true" type="q19:CsUtilisateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="admUsers" nillable="true" type="q20:CsUtilisateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="InsertUserResult" nillable="true" type="q21:ArrayOfCsUtilisateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserByMatricule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricule" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserByMatriculeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserByMatriculeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="matricule" nillable="true" type="q22:CsUtilisateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserByGuid">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="guid" type="q23:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserByGuidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserByGuidResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SELECT_All_Fonction">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SELECT_All_FonctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="SELECT_All_FonctionResult" nillable="true" type="q24:ArrayOfCsLibelle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HabilitationSelectByMetier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="metier" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HabilitationSelectByMetierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="HabilitationSelectByMetierResult" nillable="true" type="q25:ArrayOfCsHabilitationProgram" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProgramSelectAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProgramSelectAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ProgramSelectAllResult" nillable="true" type="q26:ArrayOfCsHabilitationProgram" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>