Galatee.Silverlight.Web/Service References/ServiceCaisse/CaisseService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1818/Caisse/CaisseService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Galatee.Structure" />
  <xs:import schemaLocation="http://localhost:1818/Caisse/CaisseService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="RetourneListeTimbre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServerMode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeTimbreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeTimbreResult" nillable="true" type="q1:ArrayOfCsFraisTimbre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CashierPayments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parametresRDLC" nillable="true" type="q2:ArrayOfKeyValueOfstringstring" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="res" nillable="true" type="q3:ArrayOfCsReglementRecu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CashierPaymentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="CashierPaymentsResult" nillable="true" type="q4:ArrayOfCsReglementRecu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjustementDeFondCaisse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumCaisse" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NouveauFond" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MoisCompt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matricule" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjustementDeFondCaisseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AjustementDeFondCaisseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HabiliterCaisse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="laCaisseHAbil" nillable="true" type="q5:CsHabilitationCaisse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HabiliterCaisseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="HabiliterCaisseResult" nillable="true" type="q6:CsHabilitationCaisse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReverserCaisse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="laCaisseHAbil" nillable="true" type="q7:ArrayOfCsReversementCaisse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReverserCaisseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReverserCaisseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCaisseHabiliterCentre">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="leCentre" nillable="true" type="q8:CsCentre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCaisseHabiliterCentreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneCaisseHabiliterCentreResult" nillable="true" type="q9:ArrayOfCsHabilitationCaisse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneSuppervisionCaisse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Centre" nillable="true" type="q10:ArrayOfint" />
        <xs:element minOccurs="0" name="dateCaisse" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="IsEncours" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneSuppervisionCaisseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneSuppervisionCaisseResult" nillable="true" type="q11:ArrayOfCsHabilitationCaisse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerListeCodeRegroupement">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerListeCodeRegroupementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ChargerListeCodeRegroupementResult" nillable="true" type="q12:ArrayOfCsRegCli" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerListePayeur">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerListePayeurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ChargerListePayeurResult" nillable="true" type="q13:ArrayOfCsPayeur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerListeFacturePayeur">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="lePayeur" nillable="true" type="q14:CsPayeur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerListeFacturePayeurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ChargerListeFacturePayeurResult" nillable="true" type="q15:ArrayOfCsLclient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CodeRegroupement">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CodeRegroupementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="CodeRegroupementResult" nillable="true" type="q16:ArrayOfCsCodeRegroupement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneRecuDeManuelCaisseList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Caisse" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneRecuDeManuelCaisseListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneRecuDeManuelCaisseListResult" nillable="true" type="q17:ArrayOfCsReglement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneClientsParReference">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="route" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sens" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneClientsParReferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneClientsParReferenceResult" nillable="true" type="q18:ArrayOfCsClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneClientsParAmount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
        <xs:element minOccurs="0" name="sens" nillable="true" type="xs:string" />
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstIdCentre" nillable="true" type="q19:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneClientsParAmountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneClientsParAmountResult" nillable="true" type="q20:ArrayOfCsClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneClientsParNoms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="names" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneClientsParNomsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneClientsParNomsResult" nillable="true" type="q21:ArrayOfCsClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeFacture">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="centre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ordre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="foreignkey" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeFactureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeFactureResult" nillable="true" type="q22:ArrayOfCsLclient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeFactureNonSolde">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="leClient" nillable="true" type="q23:CsClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeFactureNonSoldeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeFactureNonSoldeResult" nillable="true" type="q24:ArrayOfCsLclient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeFactureNonSoldeCaisse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="leClient" nillable="true" type="q25:CsClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeFactureNonSoldeCaisseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeFactureNonSoldeCaisseResult" nillable="true" type="q26:ArrayOfCsLclient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeFactureNonSoldeClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="lesClient" nillable="true" type="q27:ArrayOfCsClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeFactureNonSoldeClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeFactureNonSoldeClientResult" nillable="true" type="q28:ArrayOfCsLclient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeFactureNonSoldeByRegroupement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LstIdRegroupement" nillable="true" type="q29:ArrayOfint" />
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="periode" nillable="true" type="q30:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeFactureNonSoldeByRegroupementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeFactureNonSoldeByRegroupementResult" nillable="true" type="q31:ArrayOfCsLclient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setDetailMoratoireInWebPart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="objectList" nillable="true" type="q32:ArrayOfCsDetailMoratoire" />
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parameters" nillable="true" type="q33:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setDetailMoratoireInWebPartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setDetailMoratoireInWebPartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setDetailDsiconnectionInWebPart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="objectList" nillable="true" type="q34:ArrayOfaDisconnection" />
        <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parameters" nillable="true" type="q35:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setDetailDsiconnectionInWebPartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setDetailDsiconnectionInWebPartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setDetailCampagneInWebPart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="objectList" nillable="true" type="q36:ArrayOfaCampagne" />
        <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parameters" nillable="true" type="q37:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setDetailCampagneInWebPartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setDetailCampagneInWebPartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneNumCaisse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MatriculeConnecter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneNumCaisseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetourneNumCaisseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeFactureReg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_CodeReg" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeFactureRegResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeFactureRegResult" nillable="true" type="q38:ArrayOfCsLclient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifieEtatCaisse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricule" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Fk_IdHabilCaisse" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifieEtatCaisseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifieEtatCaisseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeTaxe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeTaxeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeTaxeResult" nillable="true" type="q39:ArrayOfCsCtax" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeDesClientsReg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdCodeRegroupement" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeDesClientsRegResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RetourneListeDesClientsRegResult" nillable="true" type="q40:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeDesBanques">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeDesBanquesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeDesBanquesResult" nillable="true" type="q41:ArrayOfCsBanque" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListeCaisse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListeCaisseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ListeCaisseResult" nillable="true" type="q42:ArrayOfCParametre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneDemande">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumDemande" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsExtension" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneDemandeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneDemandeResult" nillable="true" type="q43:CsEncaissement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneLeDevis">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumDevis" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneLeDevisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneLeDevisResult" nillable="true" type="q44:CsLclient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeDeCoperOD">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeDeCoperODResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeDeCoperODResult" nillable="true" type="q45:ArrayOfCsCoper" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeMoratoire">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caisse" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="acquit" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matricule" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeMoratoireResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeMoratoireResult" nillable="true" type="q46:ArrayOfCsMoratoire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeTa58">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodeTable" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeTa58Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeTa58Result" nillable="true" type="q47:CsParametresGeneraux" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumeroFacture">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PkidCentre" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumeroFactureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumeroFactureResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListePaiementDuRecu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numcaisse" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numrecu" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matricle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListePaiementDuRecuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListePaiementDuRecuResult" nillable="true" type="q48:ArrayOfCsReglement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneNumeroRecu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCaisse" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneNumeroRecuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetourneNumeroRecuResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestClientExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="centre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ordre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestClientExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="TestClientExistResult" nillable="true" type="q49:ArrayOfCsClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValideOuvertureCaisse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="matriculeCaisse" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numcaisse" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matriculeClerk" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="raison" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="saisipar" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CaisseEstManuel" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValideOuvertureCaisseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValideOuvertureCaisseResult" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FermetureCaisse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="_laCaisseHabil" nillable="true" type="q50:CsHabilitationCaisse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FermetureCaisseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FermetureCaisseResult" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerCaisseDisponible">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerCaisseDisponibleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ChargerCaisseDisponibleResult" nillable="true" type="q51:ArrayOfCsCaisse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifieCaisseDejaSaisie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dateEncaissement" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matricule" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="err" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifieCaisseDejaSaisieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifieCaisseDejaSaisieResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="err" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValiderAnnuleEncaissement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ListFactureAnnule" nillable="true" type="q52:ArrayOfCsLclient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValiderAnnuleEncaissementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValiderAnnuleEncaissementResult" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejeterAnnuleEncaissement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ListFactureAnnule" nillable="true" type="q53:ArrayOfCsLclient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejeterAnnuleEncaissementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RejeterAnnuleEncaissementResult" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DemandeAnnulationEncaissement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ListFactureAnnule" nillable="true" type="q54:ArrayOfCsLclient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DemandeAnnulationEncaissementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DemandeAnnulationEncaissementResult" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetirerDemandeAnnulationEncaissement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ListFactureAnnule" nillable="true" type="q55:ArrayOfCsLclient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetirerDemandeAnnulationEncaissementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetirerDemandeAnnulationEncaissementResult" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsererEncaissement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ReglementAInserer" nillable="true" type="q56:ArrayOfCsLclient" />
        <xs:element minOccurs="0" name="Operation" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsererEncaissementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsererEncaissementResult" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneNumFactureNaf">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PkIdcentre" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneNumFactureNafResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetourneNumFactureNafResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneEtatDeCaisse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="laCaisse" nillable="true" type="q57:CsHabilitationCaisse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneEtatDeCaisseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneEtatDeCaisseResult" nillable="true" type="q58:ArrayOfCsLclient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListePaiementPourAnnulation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="caisse" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="acquit" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matricule" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListePaiementPourAnnulationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListePaiementPourAnnulationResult" nillable="true" type="q59:ArrayOfCsReglement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneRecuDeCaisseList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Caisse" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneRecuDeCaisseListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneRecuDeCaisseListResult" nillable="true" type="q60:ArrayOfCsLclient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneEtatClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pk_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneEtatClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneEtatClientResult" nillable="true" type="q61:ArrayOfCsLclient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneRecuDeCaissePourAnnulation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Caisse" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneRecuDeCaissePourAnnulationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneRecuDeCaissePourAnnulationResult" nillable="true" type="q62:ArrayOfCsLclient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneModesReglement">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneModesReglementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneModesReglementResult" nillable="true" type="q63:ArrayOfCsModereglement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneNature">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneNatureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneNatureResult" nillable="true" type="q64:ArrayOfCsNature" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneTousLibelleTop">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneTousLibelleTopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneTousLibelleTopResult" nillable="true" type="q65:ArrayOfCsLibelleTop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setReglementInWebPart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="objectList" nillable="true" type="q66:ArrayOfCsReglement" />
        <xs:element xmlns:q67="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parameters" nillable="true" type="q67:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setReglementInWebPartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setReglementInWebPartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneClientBilling">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="centre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ordre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneClientBillingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneClientBillingResult" nillable="true" type="q68:ArrayOfCsFacture" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReglementParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReglementParametersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getReglementParametersResult" nillable="true" type="q69:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReglementFromWebPart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReglementFromWebPartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="getReglementFromWebPartResult" nillable="true" type="q70:ArrayOfCsReglement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDataFromWebPart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDataFromWebPartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteDataFromWebPartResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListeCaisseDisponible">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Centre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matricule" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListeCaisseDisponibleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ListeCaisseDisponibleResult" nillable="true" type="q71:ArrayOfCsCaisse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeCaisse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeCaisseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeCaisseResult" nillable="true" type="q72:ArrayOfCsCaisse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneEncaissementDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="laCaisse" nillable="true" type="q73:CsHabilitationCaisse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneEncaissementDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetourneEncaissementDateResult" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCaisseNonCloture">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListCentreCaisse" nillable="true" type="q74:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCaisseNonClotureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneCaisseNonClotureResult" nillable="true" type="q75:ArrayOfCsHabilitationCaisse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCaisseCloture">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListCentreCaisse" nillable="true" type="q76:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCaisseClotureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneCaisseClotureResult" nillable="true" type="q77:ArrayOfCsHabilitationCaisse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCaisseEnCours">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdNumCaisse" type="xs:int" />
        <xs:element minOccurs="0" name="IdCaissier" type="xs:int" />
        <xs:element minOccurs="0" name="DateDebut" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneCaisseEnCoursResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneCaisseEnCoursResult" nillable="true" type="q78:CsHabilitationCaisse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneEncaissementPourValidationAnnulation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LstCentreCaisse" nillable="true" type="q79:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneEncaissementPourValidationAnnulationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneEncaissementPourValidationAnnulationResult" nillable="true" type="q80:ArrayOfCsLclient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneHabileCaisseReversement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="laCaisse" nillable="true" type="q81:CsHabilitationCaisse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneHabileCaisseReversementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneHabileCaisseReversementResult" nillable="true" type="q82:CsHabilitationCaisse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneHabileCaisseNonReversement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="laCaisse" nillable="true" type="q83:CsHabilitationCaisse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneHabileCaisseNonReversementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneHabileCaisseNonReversementResult" nillable="true" type="q84:ArrayOfCsHabilitationCaisse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MiseAJourDemandeReversement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="DemandeReversement" nillable="true" type="q85:CsDemandeReversement" />
        <xs:element minOccurs="0" name="Action" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MiseAJourDemandeReversementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MiseAJourDemandeReversementResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneDemandeReversement">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneDemandeReversementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneDemandeReversementResult" nillable="true" type="q86:ArrayOfCsDemandeReversement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerListeFacturePeriode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="periodeDebut" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="periodeFin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FactureDeb" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FactureFin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerListeFacturePeriodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ChargerListeFacturePeriodeResult" nillable="true" type="q87:ArrayOfCsLclient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetouneTypeTimbre">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetouneTypeTimbreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetouneTypeTimbreResult" nillable="true" type="q88:ArrayOfCsTypeTimbre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturneAllMonaie">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturneAllMonaieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ReturneAllMonaieResult" nillable="true" type="q89:ArrayOfCsMonnaie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetouneLaCaisseCourante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matricule" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetouneLaCaisseCouranteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetouneLaCaisseCouranteResult" nillable="true" type="q90:CsHabilitationCaisse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemplirfactureRegroupementAvecProduit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="csRegCli" nillable="true" type="q91:CsRegCli" />
        <xs:element xmlns:q92="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listperiode" nillable="true" type="q92:ArrayOfstring" />
        <xs:element xmlns:q93="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="idProduit" nillable="true" type="q93:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemplirfactureRegroupementAvecProduitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RemplirfactureRegroupementAvecProduitResult" nillable="true" type="q94:ArrayOfCsLclient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemplirfactureRegroupement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="csRegCli" nillable="true" type="q95:CsRegCli" />
        <xs:element xmlns:q96="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listperiode" nillable="true" type="q96:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemplirfactureRegroupementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RemplirfactureRegroupementResult" nillable="true" type="q97:ArrayOfCsLclient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintReceipt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pRenderStream" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="landscape" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintReceiptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrintReceiptResult" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListeDesReversementCaisse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="LstHabilCaisse" nillable="true" type="q98:ArrayOfCsHabilitationCaisse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListeDesReversementCaisseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ListeDesReversementCaisseResult" nillable="true" type="q99:ArrayOfCsHabilitationCaisse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LitseDesTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="laCaisse" nillable="true" type="q100:CsHabilitationCaisse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LitseDesTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="LitseDesTransactionResult" nillable="true" type="q101:ArrayOfCsLclient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HistoriqueListeEncaissements">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="lstCaisse" nillable="true" type="q102:ArrayOfCsHabilitationCaisse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HistoriqueListeEncaissementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="HistoriqueListeEncaissementsResult" nillable="true" type="q103:ArrayOfCsLclient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeCaisseHabilite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LstCentreCaisse" nillable="true" type="q104:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneListeCaisseHabiliteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneListeCaisseHabiliteResult" nillable="true" type="q105:ArrayOfCsHabilitationCaisse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListeDesCaisse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fk_idcaisse" type="xs:int" />
        <xs:element minOccurs="0" name="centre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="datedebut" type="xs:dateTime" />
        <xs:element minOccurs="0" name="datefin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Isferme" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListeDesCaisseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ListeDesCaisseResult" nillable="true" type="q106:ArrayOfCsHabilitationCaisse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>