Galatee.Silverlight.Web/Service References/ServiceCaisse/CaisseService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Galatee.Structure" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Galatee.Structure" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1818/Caisse/CaisseService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfCsFraisTimbre">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsFraisTimbre" nillable="true" type="tns:CsFraisTimbre" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsFraisTimbre" nillable="true" type="tns:ArrayOfCsFraisTimbre" />
  <xs:complexType name="CsFraisTimbre">
    <xs:sequence>
      <xs:element minOccurs="0" name="BORNEINF" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BORNESUP" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DATECREATION" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DATEMODIFICATION" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FRAIS" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PK_ID" type="xs:int" />
      <xs:element minOccurs="0" name="USERCREATION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USERMODIFICATION" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CsFraisTimbre" nillable="true" type="tns:CsFraisTimbre" />
  <xs:complexType name="ArrayOfCsReglementRecu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsReglementRecu" nillable="true" type="tns:CsReglementRecu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsReglementRecu" nillable="true" type="tns:ArrayOfCsReglementRecu" />
  <xs:complexType name="CsReglementRecu">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CsPrint">
        <xs:sequence>
          <xs:element minOccurs="0" name="ACQUIT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BANQUE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CAISSE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CENTRE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CENTREENCAISSE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CLIENT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DATEENCAISSEMENT" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATEFACTURE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="LIBELLEFACTURE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LIBELLEMODREG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MATRICULE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MONTANTEXIGIBLE" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="MONTANTHT" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="MONTANTNONEXIGIBLE" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="MONTANTPAYE" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="MONTANTTIMBRE" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="NDOC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NOMCAISSIERE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NOMCLIENT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NUMCHEQ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ORDRE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PERCU" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="REFEM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RENDU" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="SITEENCAISSEMENT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SOLDEALADATE" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="SOLDEANTERIEUR" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="TOPANNUL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TYPEEDITION" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CsReglementRecu" nillable="true" type="tns:CsReglementRecu" />
  <xs:complexType name="CsPrint">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="CsPrint" nillable="true" type="tns:CsPrint" />
  <xs:complexType name="CsHabilitationCaisse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CsPrint">
        <xs:sequence>
          <xs:element minOccurs="0" name="ACQUIT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AGENCECAISSE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CENTRE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DATECREATION" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATE_DEBUT" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATE_FIN" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ECART" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ESTATRIBUER" type="xs:boolean" />
          <xs:element minOccurs="0" name="FK_IDCAISSE" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDCAISSIERE" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDCENTRE" type="xs:int" />
          <xs:element minOccurs="0" name="FONDCAISSE" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="IsCAISSECOURANTE" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsDEMANDEREVERSEMENT" type="xs:boolean" />
          <xs:element minOccurs="0" name="MATRICULE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MONTANTENCAISSE" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="MONTANTREVERSER" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="NOMCAISSE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NUMCAISSE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PK_ID" type="xs:int" />
          <xs:element minOccurs="0" name="POSTE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SITECAISSE" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CsHabilitationCaisse" nillable="true" type="tns:CsHabilitationCaisse" />
  <xs:complexType name="ArrayOfCsReversementCaisse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsReversementCaisse" nillable="true" type="tns:CsReversementCaisse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsReversementCaisse" nillable="true" type="tns:ArrayOfCsReversementCaisse" />
  <xs:complexType name="CsReversementCaisse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CsPrint">
        <xs:sequence>
          <xs:element minOccurs="0" name="DATE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FK_IDHABILITATIONCAISSE" type="xs:int" />
          <xs:element minOccurs="0" name="IsCAISSECOURANTE" type="xs:boolean" />
          <xs:element minOccurs="0" name="MONTANT" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="PK_ID" type="xs:int" />
          <xs:element minOccurs="0" name="RESTE" nillable="true" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CsReversementCaisse" nillable="true" type="tns:CsReversementCaisse" />
  <xs:complexType name="CsCentre">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CsPrint">
        <xs:sequence>
          <xs:element minOccurs="0" name="ADRESSE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CODENIVEAUTARIF" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CODESITE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CODESOUSCOMPTE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COMPTEECLAIRAGEPUBLIC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DATECREATION" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATEFIN" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATEMODIFICATION" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FK_IDCODESITE" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDNIVEAUTARIF" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDTYPECENTRE" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="GESTIONAUTOAVANCECONSO" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="GESTIONAUTOFRAIS" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsSelect" type="xs:boolean" />
          <xs:element minOccurs="0" name="LESPRODUITSDUSITE" nillable="true" type="tns:ArrayOfCsProduit" />
          <xs:element minOccurs="0" name="LIBELLE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LIBELLENIVEAUTARIF" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LIBELLESITE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LIBELLETYPECENTRE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NUMDEM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NUMEROAUTOCLIENT" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="NUMERODEMANDE" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="NUMEROFACTURE" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="NUMEROFACTUREPARCLIENT" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="PK_ID" type="xs:int" />
          <xs:element minOccurs="0" name="TELDEPANNAGE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TELRENSEIGNEMENT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TYPECENTRE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="USERCREATION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="USERMODIFICATION" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CsCentre" nillable="true" type="tns:CsCentre" />
  <xs:complexType name="ArrayOfCsProduit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsProduit" nillable="true" type="tns:CsProduit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsProduit" nillable="true" type="tns:ArrayOfCsProduit" />
  <xs:complexType name="CsProduit">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CsPrint">
        <xs:sequence>
          <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DATECREATION" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATEFIN" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATEMODIFICATION" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FK_IDCENTRE" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDPRODUIT" type="xs:int" />
          <xs:element minOccurs="0" name="GESTIONTRANSFO" type="xs:int" />
          <xs:element minOccurs="0" name="IsNewRow" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsSelect" type="xs:boolean" />
          <xs:element minOccurs="0" name="LIBELLE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MODESAISIE" type="xs:int" />
          <xs:element minOccurs="0" name="NBREDEPOINT" type="xs:int" />
          <xs:element minOccurs="0" name="OriginalCODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PK_ID" type="xs:int" />
          <xs:element minOccurs="0" name="USERCREATION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="USERMODIFICATION" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CsProduit" nillable="true" type="tns:CsProduit" />
  <xs:complexType name="ArrayOfCsHabilitationCaisse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsHabilitationCaisse" nillable="true" type="tns:CsHabilitationCaisse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsHabilitationCaisse" nillable="true" type="tns:ArrayOfCsHabilitationCaisse" />
  <xs:complexType name="ArrayOfCsRegCli">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsRegCli" nillable="true" type="tns:CsRegCli" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsRegCli" nillable="true" type="tns:ArrayOfCsRegCli" />
  <xs:complexType name="CsRegCli">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CsPrint">
        <xs:sequence>
          <xs:element minOccurs="0" name="ADR1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ADR2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BUREAU" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CENTRE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CODPOS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DATECREATION" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATEMODIFICATION" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FK_IDCENTRE" type="xs:int" />
          <xs:element minOccurs="0" name="IsSelect" type="xs:boolean" />
          <xs:element minOccurs="0" name="LIBELLE" nillable="true" type="xs:string" />
          <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LstCentre" nillable="true" type="q1:ArrayOfstring" />
          <xs:element minOccurs="0" name="NOM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PK_ID" type="xs:int" />
          <xs:element minOccurs="0" name="REFERENCEPUPITRE" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="TRAITFAC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TRANS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="USERCREATION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="USERMODIFICATION" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CsRegCli" nillable="true" type="tns:CsRegCli" />
  <xs:complexType name="ArrayOfCsPayeur">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsPayeur" nillable="true" type="tns:CsPayeur" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsPayeur" nillable="true" type="tns:ArrayOfCsPayeur" />
  <xs:complexType name="CsPayeur">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACCEPTFACTURE" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="ACCEPTPENALITE" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="ACTIVITE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CADR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CENTRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODENATIONAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODERUE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMMUNE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPRUE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CPOS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISTRIBUTION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FAX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMRUE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUMRUE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PAYEUR1" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PK_ID" type="xs:int" />
      <xs:element minOccurs="0" name="QUARTIER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REGISTRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TELEPHONE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CsPayeur" nillable="true" type="tns:CsPayeur" />
  <xs:complexType name="ArrayOfCsLclient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsLclient" nillable="true" type="tns:CsLclient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsLclient" nillable="true" type="tns:ArrayOfCsLclient" />
  <xs:complexType name="CsLclient">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CsPrint">
        <xs:sequence>
          <xs:element minOccurs="0" name="ACQUIT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ADRESSE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AGENT_COUPURE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AVANCE" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="BANQUE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CAISSE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CAPUR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CENTRE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CLIENT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CODE_WKF" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COPER" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CRET" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DATECREATION" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATEENCAISSEMENT" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATEFLAG" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATEMODIFICATION" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATEVALEUR" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DENR" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DRES" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DTRANS" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ECART" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="EXIG" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="EXIGIBILITE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FK_IDADMUTILISATEUR" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDAGENTSAISIE" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDCAISSIERE" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDCENTRE" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDCLIENT" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDCOPER" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDETAPEDEVIS" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDHABILITATIONCAISSE" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDLCLIENT" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDLIBELLETOP" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDMODEREG" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDMORATOIRE" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDMOTIFCHEQUEINPAYE" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDNAF" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDNATURE" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDPOSTECLIENT" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDREGROUPEMENT" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDTYPEDEVIS" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="FRAISDERETARD" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="FRAISTIMBRE" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="GUICHET" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IDCOUPURE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IDLOT" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ISDECAISSEMENT" type="xs:boolean" />
          <xs:element minOccurs="0" name="ISNONENCAISSABLE" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="ISPRECONTENTIEUX" type="xs:boolean" />
          <xs:element minOccurs="0" name="ISPRESTATIONSEULEMENT" type="xs:boolean" />
          <xs:element minOccurs="0" name="ISREMBOURSEMENTAVANCE" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsDEMANDEANNULATION" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsExonerationTaxe" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsGlobal" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsPAIEMENTANTICIPE" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsREGLEMENTNAF" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsREGLEMENTPARNAF" type="xs:boolean" />
          <xs:element minOccurs="0" name="LIBELLEAGENCE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LIBELLEBANQUE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LIBELLECATEGORIE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LIBELLECOPER" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LIBELLEMODREG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LIBELLENATURE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LIBELLEREGROUPEMENT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LIBELLESITE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MATRICULE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MODEREG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MOISCOMPT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MONTANT" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="MONTANTCREDIT" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="MONTANTEMIS" type="xs:decimal" />
          <xs:element minOccurs="0" name="MONTANTENCAISSE" type="xs:decimal" />
          <xs:element minOccurs="0" name="MONTANTEXIGIBLE" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="MONTANTNAF" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="MONTANTNONEXIGIBLE" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="MONTANTPAYE" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="MONTANTPAYPARTIEL" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="MONTANTTVA" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="MOTIFANNULATION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MOTIFDEMANDE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MOTIFREJET" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NATURE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NDOC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NOM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NOMBRE" type="xs:int" />
          <xs:element minOccurs="0" name="NOMCAISSIERE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NUMCHEQ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NUMDEM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NUMDEVIS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NUMEROAVISCREDIT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NUMEROLOT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NUMEROMANDAT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NUMETAPE" type="xs:int" />
          <xs:element minOccurs="0" name="OBSERVATION_COUPURE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ORDRE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ORIGINE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PERCU" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="PK_ID" type="xs:int" />
          <xs:element minOccurs="0" name="PLACE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="POSTE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RDV_COUPURE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="REFEM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REFEMNDOC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REFERENCE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REFERENCEPUPITRE" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="REFFERENCECLIENT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RENDU" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="SAISIPAR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SOLDEAPRESPAIEMENT" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="SOLDECLIENT" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="SOLDEFACTURE" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="STATUS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Selectionner" type="xs:boolean" />
          <xs:element minOccurs="0" name="TAUXRECOUVREMENT" type="xs:decimal" />
          <xs:element minOccurs="0" name="TAXESADEDUIRE" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="TOP1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TOPANNUL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TOURNEE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TYPEDEMANDE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TYPELOT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="USERCREATION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="USERMODIFICATION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="traiter" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CsLclient" nillable="true" type="tns:CsLclient" />
  <xs:complexType name="ArrayOfCsCodeRegroupement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsCodeRegroupement" nillable="true" type="tns:CsCodeRegroupement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsCodeRegroupement" nillable="true" type="tns:ArrayOfCsCodeRegroupement" />
  <xs:complexType name="CsCodeRegroupement">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDREGCLI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOM" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CsCodeRegroupement" nillable="true" type="tns:CsCodeRegroupement" />
  <xs:complexType name="ArrayOfCsReglement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsReglement" nillable="true" type="tns:CsReglement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsReglement" nillable="true" type="tns:ArrayOfCsReglement" />
  <xs:complexType name="CsReglement">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CsPrint">
        <xs:sequence>
          <xs:element minOccurs="0" name="ACQUIT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ACQUITANTERIEUR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AGENT_COUPURE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BANQUE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CAISSE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CANCELLATION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CAPUR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CENTRE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CLIENT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COPER" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CRET" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DATECREATION" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATEENCAISSEMENT" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATEEXIGIBLE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATEFACTURE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATEFLAG" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATEMODIFICATION" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATEVALEUR" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DTRANS" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ECART" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="FK_IDCENTRE" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDETAPEDEVIS" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDPOSTE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FK_IDPRODUIT" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDTYPEDEVIS" type="xs:int" />
          <xs:element minOccurs="0" name="FRAISRETARD" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="GUICHET" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IDCOUPURE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IDENTITY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IDLOT" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="IdMoratoire" type="xs:int" />
          <xs:element minOccurs="0" name="IsDEMANDEANNULATION" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsSELECT" type="xs:boolean" />
          <xs:element minOccurs="0" name="LIBCOURT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LIBELLEAGENCE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LIBELLEMODREG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LIBELLESITE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LIBENCAISS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MATRICULE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MODEREG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MOISCOMPT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MOISCOMPTABLE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MONTANTFACTURE" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="MONTANTNAF" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="MONTANTPAYE" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="MONTANTPAYEFORMATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MONTANTPAYMENTANTICIPE" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="MONTANTTIMBRE" type="xs:decimal" />
          <xs:element minOccurs="0" name="MONTANTTVA" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="MOTIFANNULATION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NATURE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NDOC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NOMAGENTMANUEL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NOMCAISSIERE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NOMCLIENT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NOMOPERATEUR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NUMCHEQ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NUMCHEQUE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NUMDEM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NUMDEVIS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NumCaiss" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OBSERVATION_COUPURE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ORDRE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ORIGINE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PENALITE" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="PERCU" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="PERIODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PK_IDCLIENT" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="PK_IDTRANSCAISS" type="xs:int" />
          <xs:element minOccurs="0" name="PLACE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="POSTE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PRODUIT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RDV_COUPURE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="REFEM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REFEMNDOC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REFERENCE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REFERENCEPUPITRE" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="REFFERENCEACQUIT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REFFERENCECLIENT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RENDU" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="SAISIPAR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SOLDEALADATE" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="SOLDEALADATEFORMATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SOLDEANTERIEUR" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="SOLDEANTERIEURFORMATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SOLDEFACTURE" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="TAXESADEDUIRE" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="TOP1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TOPANNUL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TOPLIBELLEREGLAGECOMPTEUR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="USERCREATION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="USERMODIFICATION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ZONE" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CsReglement" nillable="true" type="tns:CsReglement" />
  <xs:complexType name="ArrayOfCsClient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsClient" nillable="true" type="tns:CsClient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsClient" nillable="true" type="tns:ArrayOfCsClient" />
  <xs:complexType name="CsClient">
    <xs:sequence>
      <xs:element minOccurs="0" name="ADRMAND1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ADRMAND2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AGENTASSAINI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AGENTFACTURE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AGENTRECOUVR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ANNAIS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AVANCE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BANQUE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BOITEPOSTAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BUREAU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CATEGORIE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CENTRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CNI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODECONSO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODEIDENTIFICATIONNATIONALE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODERELANCE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODESITE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPTE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPTEUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONVENTION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CPOS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CRET" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DATECREATION" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DATEMODIFICATION" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DECRET" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DENABON" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DENMAND" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DINC" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DMAJ" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DRES" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXIGIBILITE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FACTURE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FAX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FK_IDABON" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDAG" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDCATEGORIE" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDCENTRE" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDCODECONSO" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDCOMMUNE" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDMODEPAIEMENT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDNATIONALITE" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDNATURECLIENT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDNUMDEM" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDPAYEUR" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDPIECEIDENTITE" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDPRODUIT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDPROPRIETAIRE" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDQUARTIER" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDREGROUPEMENT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDRELANCE" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDRUE" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDSECTEUR" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDSITE" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDTOURNEE" type="xs:int" />
      <xs:element minOccurs="0" name="FK_IDUSAGE" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FK_TYPECLIENT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="GUICHET" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INDEXEVT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="INSPECTION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISFACTUREEMAIL" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ISFACTURESMS" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="LIBELLECATEGORIE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LIBELLECENTRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LIBELLECODECONSO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LIBELLEMODEPAIEMENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LIBELLENATIONALITE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LIBELLENATURECLIENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LIBELLEPAYEUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LIBELLEREGCLI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LIBELLERELANCE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LIBELLESITE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LIBELLETYPEPIECE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LIBELLEUSAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MATRICULE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MATRICULEAGENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODEPAIEMENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOISNAIS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NATIONNALITE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NATURE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NDOC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMABON" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMCOD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMMAND" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMMERE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMPERE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMTIT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUMDEM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUMEROIDCLIENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUMEROPIECEIDENTITE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUMPROPRIETE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORDRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORDTOUR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PAYEUR" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PERIODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PK_ID" type="xs:int" />
      <xs:element minOccurs="0" name="PORTE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRODUIT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROPRIO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REFCLIENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REFERENCEATM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REFERENCEPUPITRE" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="REGEDIT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REGLEMENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REGROUCONTRAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REGROUPEMENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RIB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RUE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SOLDE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SOLDEDOCUMENT" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SOLDEDUE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SOLDENAF" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SOUSACTIVITE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TELEPHONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TELEPHONEFIXE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TOTALFACUTREDUE" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TOURNEE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TYPEDEMANDE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USERCREATION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USERMODIFICATION" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CsClient" nillable="true" type="tns:CsClient" />
  <xs:complexType name="ArrayOfCsDetailMoratoire">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsDetailMoratoire" nillable="true" type="tns:CsDetailMoratoire" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsDetailMoratoire" nillable="true" type="tns:ArrayOfCsDetailMoratoire" />
  <xs:complexType name="CsDetailMoratoire">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CsPrint">
        <xs:sequence>
          <xs:element minOccurs="0" name="ACQUIT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AGENT_COUPURE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BANQUE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CAISSE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CAPUR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CENTRE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CLIENT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COPER" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CRET" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DATECAISSE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATECREATION" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATEENCAISSEMENT" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATEFLAG" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATEMODIFICATION" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATEVALEUR" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DENR" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ECART" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="EXIG" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="EXIGIBILITE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FK_IDADMUTILISATEUR" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDCENTRE" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDCLIENT" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDCOPER" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDLCLIENT" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDLIBELLETOP" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDMORATOIRE" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDNAF" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDNATURE" type="xs:int" />
          <xs:element minOccurs="0" name="FRAISDERETARD" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="GUICHET" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IDCOUPURE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IDLOT" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="IDMORATOIRE" type="xs:int" />
          <xs:element minOccurs="0" name="MATRICULE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MODEREG" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MOISCOMPT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MONTANT" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="MONTANTPAYE" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="MONTANTTVA" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="NATURE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NDOC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NOMABON" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NUMCHEQ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OBSERVATION_COUPURE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ORDRE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ORIGINE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PK_ID" type="xs:int" />
          <xs:element minOccurs="0" name="RDV_COUPURE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="REFEM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REFEMNDOC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REFERENCE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REFERENCEPUPITRE" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="STATUS" type="xs:int" />
          <xs:element minOccurs="0" name="TAXESADEDUIRE" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="TOP1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="USERCREATION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="USERMODIFICATION" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CsDetailMoratoire" nillable="true" type="tns:CsDetailMoratoire" />
  <xs:complexType name="ArrayOfaDisconnection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="aDisconnection" nillable="true" type="tns:aDisconnection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfaDisconnection" nillable="true" type="tns:ArrayOfaDisconnection" />
  <xs:complexType name="aDisconnection">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CsPrint">
        <xs:sequence>
          <xs:element minOccurs="0" name="ADRESSEREGROUPEMENT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ANCINDEXELECT" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ANCINDEXWATER" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Adresse" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Agent" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BILLSDUE" type="xs:int" />
          <xs:element minOccurs="0" name="CATCLI" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CENTRE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CLIENT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CODECONSO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COMPTEURELECT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COMPTEURWATER" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DateExigibilite" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DebutCategorie" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DebutTournee" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FinCategorie" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FinTournee" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstRouteNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdCoupure" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LIBELLEREGROUPEMENT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastRouteNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MONTANTFACTURE" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="MontantCampagne" type="xs:decimal" />
          <xs:element minOccurs="0" name="MontantRelance" type="xs:decimal" />
          <xs:element minOccurs="0" name="NDOC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NOMABON" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NomControler" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NombreClient" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NombreFactureDue" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ORDRE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ORDTOUR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PERIODEFACTURE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PORTE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PRODUIT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PeriodeRelance" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REGROUPEMENT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RUE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SOLDEDUE" type="xs:decimal" />
          <xs:element minOccurs="0" name="SOLDEFACTURE" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="SOLDENAF" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="SOLDETOTAL" type="xs:decimal" />
          <xs:element minOccurs="0" name="TOTALFACUTREDUE" type="xs:int" />
          <xs:element minOccurs="0" name="TOURNEE" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="aDisconnection" nillable="true" type="tns:aDisconnection" />
  <xs:complexType name="ArrayOfaCampagne">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="aCampagne" nillable="true" type="tns:aCampagne" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfaCampagne" nillable="true" type="tns:ArrayOfaCampagne" />
  <xs:complexType name="aCampagne">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CsPrint">
        <xs:sequence>
          <xs:element minOccurs="0" name="COMPTEUR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Centre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Client" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CtrE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CtrO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DateCoupure" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateExigibilite" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateRDV" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateRemise" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DebutOrdTournee" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DebutTournee" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FK_IDCAMPAGNE" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDCLIENT" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDOBSERVATION" type="xs:int" />
          <xs:element minOccurs="0" name="FK_PRODUIT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FinOrdTournee" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FinTournee" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstRouteNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Frais" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="Id" type="xs:long" />
          <xs:element minOccurs="0" name="IdCoupure" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IndexE" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="IndexO" type="xs:int" />
          <xs:element minOccurs="0" name="LastRouteNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MATRICULE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MatrAgent" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MontantRelance" type="xs:decimal" />
          <xs:element minOccurs="0" name="NbreFactImpayes" type="xs:int" />
          <xs:element minOccurs="0" name="NbreFactRegle" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NomAgence" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NomAgent" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NomQuartier" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Observation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Ordre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PRODUIT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PeriodeRelance" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Porte" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Quartier" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Rue" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SoldeCourant" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="SoldeInitial" type="xs:decimal" />
          <xs:element minOccurs="0" name="Tournee" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="aCampagne" nillable="true" type="tns:aCampagne" />
  <xs:complexType name="ArrayOfCsCtax">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsCtax" nillable="true" type="tns:CsCtax" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsCtax" nillable="true" type="tns:ArrayOfCsCtax" />
  <xs:complexType name="CsCtax">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CsPrint">
        <xs:sequence>
          <xs:element minOccurs="0" name="CENTRE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COMPTE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DATECREATION" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATEMODIFICATION" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DEBUTAPPLICATION" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FINAPPLICATION" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FK_IDCENTRE" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDTYPETAXE" type="xs:int" />
          <xs:element minOccurs="0" name="LIBELLE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LIBELLETYPETAXE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PK_ID" type="xs:int" />
          <xs:element minOccurs="0" name="TAUX" type="xs:decimal" />
          <xs:element minOccurs="0" name="TYPETAXE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="USERCREATION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="USERMODIFICATION" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CsCtax" nillable="true" type="tns:CsCtax" />
  <xs:complexType name="ArrayOfCsBanque">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsBanque" nillable="true" type="tns:CsBanque" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsBanque" nillable="true" type="tns:ArrayOfCsBanque" />
  <xs:complexType name="CsBanque">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CsPrint">
        <xs:sequence>
          <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DATECREATION" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATEMODIFICATION" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="LIBELLE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PK_ID" type="xs:int" />
          <xs:element minOccurs="0" name="USERCREATION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="USERMODIFICATION" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CsBanque" nillable="true" type="tns:CsBanque" />
  <xs:complexType name="ArrayOfCParametre">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CParametre" nillable="true" type="tns:CParametre" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCParametre" nillable="true" type="tns:ArrayOfCParametre" />
  <xs:complexType name="CParametre">
    <xs:sequence>
      <xs:element minOccurs="0" name="AUTRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSelect" type="xs:boolean" />
      <xs:element minOccurs="0" name="LIBELLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PK_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CParametre" nillable="true" type="tns:CParametre" />
  <xs:complexType name="CsEncaissement">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CsPrint">
        <xs:sequence>
          <xs:element minOccurs="0" name="Clients" nillable="true" type="tns:ArrayOfCsClient" />
          <xs:element minOccurs="0" name="FactureARegler" nillable="true" type="tns:ArrayOfCsLclient" />
          <xs:element minOccurs="0" name="ParametreGeneraux" nillable="true" type="tns:CsTa" />
          <xs:element minOccurs="0" name="Sites" nillable="true" type="tns:ArrayOfCsCentre" />
          <xs:element minOccurs="0" name="Taxes" nillable="true" type="tns:ArrayOfCsCtax" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CsEncaissement" nillable="true" type="tns:CsEncaissement" />
  <xs:complexType name="CsTa">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CsPrint">
        <xs:sequence>
          <xs:element minOccurs="0" name="CENTRE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COCHER" type="xs:boolean" />
          <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DESCRIPTION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DMAJ" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="LIBELLE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NUM" type="xs:int" />
          <xs:element minOccurs="0" name="TRANS" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CsTa" nillable="true" type="tns:CsTa" />
  <xs:complexType name="ArrayOfCsCentre">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsCentre" nillable="true" type="tns:CsCentre" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsCentre" nillable="true" type="tns:ArrayOfCsCentre" />
  <xs:complexType name="ArrayOfCsCoper">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsCoper" nillable="true" type="tns:CsCoper" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsCoper" nillable="true" type="tns:ArrayOfCsCoper" />
  <xs:complexType name="CsCoper">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CsPrint">
        <xs:sequence>
          <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COMPTEANNEXE1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COMPTGENE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CTRAIT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DATECREATION" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATEMODIFICATION" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DMAJ" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ISOD" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsSelect" type="xs:boolean" />
          <xs:element minOccurs="0" name="LIBCOURT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LIBELLE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PK_ID" type="xs:int" />
          <xs:element minOccurs="0" name="TRANS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="USERCREATION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="USERMODIFICATION" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CsCoper" nillable="true" type="tns:CsCoper" />
  <xs:complexType name="ArrayOfCsMoratoire">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsMoratoire" nillable="true" type="tns:CsMoratoire" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsMoratoire" nillable="true" type="tns:ArrayOfCsMoratoire" />
  <xs:complexType name="CsMoratoire">
    <xs:sequence>
      <xs:element minOccurs="0" name="CENTRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CLIENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDMORATOIRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORDRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATUS" type="xs:int" />
      <xs:element minOccurs="0" name="TOP1" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CsMoratoire" nillable="true" type="tns:CsMoratoire" />
  <xs:complexType name="CsParametresGeneraux">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CsPrint">
        <xs:sequence>
          <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DATECREATION" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATEMODIFICATION" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DESCRIPTION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LIBELLE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PK_ID" type="xs:int" />
          <xs:element minOccurs="0" name="USERCREATION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="USERMODIFICATION" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CsParametresGeneraux" nillable="true" type="tns:CsParametresGeneraux" />
  <xs:complexType name="ArrayOfCsCaisse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsCaisse" nillable="true" type="tns:CsCaisse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsCaisse" nillable="true" type="tns:ArrayOfCsCaisse" />
  <xs:complexType name="CsCaisse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CsPrint">
        <xs:sequence>
          <xs:element minOccurs="0" name="ACQUIT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BORDEREAU" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CENTRE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COMPTE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DATECAISSE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATECREATION" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATEMODIFICATION" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATE_DEBUT" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATE_FIN" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ESTATTRIBUEE" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="FK_HABILITATIONCAISSE" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDADMUTILISATEUR" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDCENTRE" type="xs:int" />
          <xs:element minOccurs="0" name="FONDCAISSE" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="LIBELLE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LIBELLECENTRE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NUMCAISSE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PK_ID" type="xs:int" />
          <xs:element minOccurs="0" name="TYPECAISSE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="USERCREATION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="USERMODIFICATION" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CsCaisse" nillable="true" type="tns:CsCaisse" />
  <xs:complexType name="ArrayOfCsModereglement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsModereglement" nillable="true" type="tns:CsModereglement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsModereglement" nillable="true" type="tns:ArrayOfCsModereglement" />
  <xs:complexType name="CsModereglement">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPTE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPTEANNEXE1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COPER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DATECREATION" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DATEMODIFICATION" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ECARTNEG" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ECARTPOS" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FK_IDCOPER" type="xs:int" />
      <xs:element minOccurs="0" name="LIBELLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MONTANT" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PERCU" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PK_ID" type="xs:int" />
      <xs:element minOccurs="0" name="RENDU" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TRANS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USERCREATION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USERMODIFICATION" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CsModereglement" nillable="true" type="tns:CsModereglement" />
  <xs:complexType name="ArrayOfCsNature">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsNature" nillable="true" type="tns:CsNature" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsNature" nillable="true" type="tns:ArrayOfCsNature" />
  <xs:complexType name="CsNature">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPTGENE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COPER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CTRAIT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DATECREATION" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DATEMODIFICATION" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LIBCOURT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LIBELLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PK_ID" type="xs:int" />
      <xs:element minOccurs="0" name="TRANS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USERCREATION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USERMODIFICATION" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CsNature" nillable="true" type="tns:CsNature" />
  <xs:complexType name="ArrayOfCsLibelleTop">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsLibelleTop" nillable="true" type="tns:CsLibelleTop" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsLibelleTop" nillable="true" type="tns:ArrayOfCsLibelleTop" />
  <xs:complexType name="CsLibelleTop">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CsPrint">
        <xs:sequence>
          <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DATECREATION" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATEMODIFICATION" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="LIBELLE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PK_ID" type="xs:int" />
          <xs:element minOccurs="0" name="USERCREATION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="USERMODIFICATION" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CsLibelleTop" nillable="true" type="tns:CsLibelleTop" />
  <xs:complexType name="ArrayOfCsFacture">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsFacture" nillable="true" type="tns:CsFacture" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsFacture" nillable="true" type="tns:ArrayOfCsFacture" />
  <xs:complexType name="CsFacture">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CsPrint">
        <xs:sequence>
          <xs:element minOccurs="0" name="ACQUITANTERIEUR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AVANCE" type="xs:decimal" />
          <xs:element minOccurs="0" name="AVANCED" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="CAISSE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CENTRE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CLIENT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="COPER" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CRET" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CTAXE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Categorie" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DATECREATION" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATEEXIGIBLE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DATEFACTURE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DATEMODIFICATION" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DCAISSE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DENR" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateAbonnement" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateEncaiss" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="EXIGIBILITE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="EXIGIBLE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FK_IDCATEGORIE" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDCATEGORIECLIENT" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDETAPEDEVIS" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDPRODUIT" type="xs:int" />
          <xs:element minOccurs="0" name="FK_IDTYPEDEVIS" type="xs:int" />
          <xs:element minOccurs="0" name="FK_NUMDEVIS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IDENTITY" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdMoratoire" type="xs:int" />
          <xs:element minOccurs="0" name="IsExonerationTaxe" type="xs:boolean" />
          <xs:element minOccurs="0" name="LIBCOURT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LibelleCategorie" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MONTANT" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="MONTANTFACTURE" type="xs:decimal" />
          <xs:element minOccurs="0" name="MONTANTFACTURED" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="MONTANTHT" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="MONTANTNAF" type="xs:decimal" />
          <xs:element minOccurs="0" name="MONTANTPAYPARTIEL" type="xs:decimal" />
          <xs:element minOccurs="0" name="MONTANTTAXE" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="MatriculeCaiss" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MontantExigible" type="xs:decimal" />
          <xs:element minOccurs="0" name="MontantNonExigible" type="xs:decimal" />
          <xs:element minOccurs="0" name="NATURE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NDOC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NOM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NUMDEM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NUMDEVIS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NumEtape" type="xs:int" />
          <xs:element minOccurs="0" name="ORDRE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PENALITE" type="xs:decimal" />
          <xs:element minOccurs="0" name="PK_IDCLIENT" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="PK_IDLCLIENT" type="xs:int" />
          <xs:element minOccurs="0" name="REFEM" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SOLDEFACTURE" type="xs:decimal" />
          <xs:element minOccurs="0" name="SOLDEFACTURED" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="STATUT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SaisiePar" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Selectionner" type="xs:boolean" />
          <xs:element minOccurs="0" name="SoldeApresPaiement" type="xs:decimal" />
          <xs:element minOccurs="0" name="SoldeClient" type="xs:decimal" />
          <xs:element minOccurs="0" name="TAXE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TOP1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TOURNEE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Tax" type="xs:decimal" />
          <xs:element minOccurs="0" name="Tdem" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="USERCREATION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="USERMODIFICATION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="moiscompt" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="traiter" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CsFacture" nillable="true" type="tns:CsFacture" />
  <xs:complexType name="CsDemandeReversement">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CsPrint">
        <xs:sequence>
          <xs:element minOccurs="0" name="DATECAISSE" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATECREATION" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATEMODIFICATION" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FK_IDHABILCAISSE" type="xs:int" />
          <xs:element minOccurs="0" name="IsSELECT" type="xs:boolean" />
          <xs:element minOccurs="0" name="MATRICULE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NOMCAISSE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PK_ID" type="xs:int" />
          <xs:element minOccurs="0" name="RAISONDEMANDE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RAISONREJET" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="STATUT" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="USERCREATION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="USERMODIFICATION" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CsDemandeReversement" nillable="true" type="tns:CsDemandeReversement" />
  <xs:complexType name="ArrayOfCsDemandeReversement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsDemandeReversement" nillable="true" type="tns:CsDemandeReversement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsDemandeReversement" nillable="true" type="tns:ArrayOfCsDemandeReversement" />
  <xs:complexType name="ArrayOfCsTypeTimbre">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsTypeTimbre" nillable="true" type="tns:CsTypeTimbre" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsTypeTimbre" nillable="true" type="tns:ArrayOfCsTypeTimbre" />
  <xs:complexType name="CsTypeTimbre">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CsPrint">
        <xs:sequence>
          <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LIBELLE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MONTANT" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="PK_ID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CsTypeTimbre" nillable="true" type="tns:CsTypeTimbre" />
  <xs:complexType name="ArrayOfCsMonnaie">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CsMonnaie" nillable="true" type="tns:CsMonnaie" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCsMonnaie" nillable="true" type="tns:ArrayOfCsMonnaie" />
  <xs:complexType name="CsMonnaie">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CsPrint">
        <xs:sequence>
          <xs:element minOccurs="0" name="CENTRE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DATECREATION" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DATEMODIFICATION" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DISPLAYVALUE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FK_IDCENTRE" type="xs:int" />
          <xs:element minOccurs="0" name="LIBELLE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LIBELLECENTRE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LIBELLESUPPORT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PK_ID" type="xs:int" />
          <xs:element minOccurs="0" name="SUPPORT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="USERCREATION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="USERMODIFICATION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VALEUR" nillable="true" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CsMonnaie" nillable="true" type="tns:CsMonnaie" />
</xs:schema>