Galatee.Silverlight/Service References/ServiceReference1/FraudeService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1818/Fraude/FraudeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Galatee.Structure" />
  <xs:element name="SelectAllSourceControle">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllSourceControleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="SelectAllSourceControleResult" nillable="true" type="q1:ArrayOfCsSourceControle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllMoyenDenomciation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllMoyenDenomciationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="SelectAllMoyenDenomciationResult" nillable="true" type="q2:ArrayOfCsMoyenDenomciation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllClient">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="SelectAllClientResult" nillable="true" type="q3:ArrayOfCsClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fk_idcentre" type="xs:int" />
        <xs:element minOccurs="0" name="centre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Ordre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneClientResult" nillable="true" type="q4:ArrayOfCsClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFraudeDenociateur">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="sDemandeFraude" nillable="true" type="q5:CsDemandeFraude" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFraudeDenociateurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertFraudeDenociateurResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFraude">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="sFraude" nillable="true" type="q6:CsFraude" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFraudeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertFraudeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDenoncition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="sDenonciation" nillable="true" type="q7:ArrayOfCsDenonciateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDenoncitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertDenoncitionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertClientFraude">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="sClientFraude" nillable="true" type="q8:ArrayOfCsClientFraude" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertClientFraudeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="InsertClientFraudeResult" nillable="true" type="q9:CsClientFraude" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneClientFraude">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identifieClient" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pkCentre" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneClientFraudeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneClientFraudeResult" nillable="true" type="q10:ArrayOfCsClientFraude" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllTypeFraude">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllTypeFraudeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="SelectAllTypeFraudeResult" nillable="true" type="q11:ArrayOfCsTypeFraude" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllMarqueDisjoncteur">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllMarqueDisjoncteurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="SelectAllMarqueDisjoncteurResult" nillable="true" type="q12:ArrayOfCsMArqueDisjoncteur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllActionSurCompteur">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllActionSurCompteurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="SelectAllActionSurCompteurResult" nillable="true" type="q13:ArrayOfCsActionSurCompteur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllOrganeFraude">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllOrganeFraudeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="SelectAllOrganeFraudeResult" nillable="true" type="q14:ArrayOfCsOrganeFraude" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllQualiteExpert">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllQualiteExpertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="SelectAllQualiteExpertResult" nillable="true" type="q15:ArrayOfCsQualiteExpert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllPhaseCompteur">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllPhaseCompteurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="SelectAllPhaseCompteurResult" nillable="true" type="q16:ArrayOfCsPhaseCompteur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllDecision">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllDecisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="SelectAllDecisionResult" nillable="true" type="q17:ArrayOfCsDecisionfrd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertControle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="sControle" nillable="true" type="q18:ArrayOfCsControle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertControleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertControleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateControle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="sControle" nillable="true" type="q19:ArrayOfCsControle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateControleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateControleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllControle">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllControleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="SelectAllControleResult" nillable="true" type="q20:ArrayOfCsControle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertControleur">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="sControleur" nillable="true" type="q21:ArrayOfCsControleur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertControleurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertControleurResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateControleur">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="sControleur" nillable="true" type="q22:ArrayOfCsControleur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateControleurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateControleurResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllControleur">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllControleurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="SelectAllControleurResult" nillable="true" type="q23:ArrayOfCsControleur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCompteurFraude">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="sCompteurFraude" nillable="true" type="q24:ArrayOfCsCompteurFraude" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCompteurFraudeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCompteurFraudeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompteurFraude">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="sCompteurFraude" nillable="true" type="q25:ArrayOfCsCompteurFraude" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompteurFraudeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCompteurFraudeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllCompteurFraude">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllCompteurFraudeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="SelectAllCompteurFraudeResult" nillable="true" type="q26:ArrayOfCsCompteurFraude" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllUsage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllUsageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="SelectAllUsageResult" nillable="true" type="q27:ArrayOfCsUsage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertControleFraude">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="sDemandeFraude" nillable="true" type="q28:CsDemandeFraude" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertControleFraudeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertControleFraudeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertionFraudeAudite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="sDemandeFraude" nillable="true" type="q29:CsDemandeFraude" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertionFraudeAuditeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertionFraudeAuditeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertionFraudeConsommation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="sDemandeFraude" nillable="true" type="q30:CsDemandeFraude" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertionFraudeConsommationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertionFraudeConsommationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValiderDemandeInitailisation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="LaDemannde" nillable="true" type="q31:CsDemandeFraude" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValiderDemandeInitailisationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValiderDemandeInitailisationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourDemandeFraude">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDDEMANDE" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourDemandeFraudeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourDemandeFraudeResult" nillable="true" type="q32:CsDemandeFraude" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValiderDemandeControle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="LaDemannde" nillable="true" type="q33:CsDemandeFraude" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValiderDemandeControleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValiderDemandeControleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValiderDemandeAudition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="LaDemannde" nillable="true" type="q34:CsDemandeFraude" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValiderDemandeAuditionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValiderDemandeAuditionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValiderDemandeConsommation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="LaDemannde" nillable="true" type="q35:CsDemandeFraude" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValiderDemandeConsommationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValiderDemandeConsommationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValiderDemandeEmissionFacture">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="LaDemannde" nillable="true" type="q36:CsDemandeFraude" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValiderDemandeEmissionFactureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValiderDemandeEmissionFactureResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValiderDemandeControleIndex">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="LaDemannde" nillable="true" type="q37:CsDemandeFraude" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValiderDemandeControleIndexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValiderDemandeControleIndexResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneEvenement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fk_idcentre" type="xs:int" />
        <xs:element minOccurs="0" name="centre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Ordre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetourneEvenementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="RetourneEvenementResult" nillable="true" type="q38:ArrayOfCsEvenement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsommationByPeriodeMois">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="laDemande" nillable="true" type="q39:CsDemandeFraude" />
        <xs:element minOccurs="0" name="mois" type="xs:int" />
        <xs:element minOccurs="0" name="periode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsommationByPeriodeMoisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ConsommationByPeriodeMoisResult" nillable="true" type="q40:ArrayOfCsEvenement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>