Galatee.Silverlight/Service References/ServiceReference1/FraudeService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Errors">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorLabel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Errors" nillable="true" type="tns:Errors" />
</xs:schema>