Galatee.Silverlight/Service References/ServiceTarification/TarificationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1818/Tarification/TarificationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Galatee.Structure" />
  <xs:element name="SaveRechercheTarif">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ListeRedevanceToUpdate" nillable="true" type="q1:ArrayOfCsRechercheTarif" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ListeRedevanceToInserte" nillable="true" type="q2:ArrayOfCsRechercheTarif" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ListeRedevanceToDelete" nillable="true" type="q3:ArrayOfCsRechercheTarif" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRechercheTarifResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveRechercheTarifResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllRechercheTarif">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllRechercheTarifResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="LoadAllRechercheTarifResult" nillable="true" type="q4:ArrayOfCsRechercheTarif" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllContenantCritereTarif">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllContenantCritereTarifResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="LoadAllContenantCritereTarifResult" nillable="true" type="q5:ArrayOfCsContenantCritereTarif" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRedevance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ListeRedevanceToUpdate" nillable="true" type="q6:ArrayOfCsRedevance" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ListeRedevanceToInserte" nillable="true" type="q7:ArrayOfCsRedevance" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ListeRedevanceToDelete" nillable="true" type="q8:ArrayOfCsRedevance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRedevanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveRedevanceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllRedevance">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllRedevanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="LoadAllRedevanceResult" nillable="true" type="q9:ArrayOfCsRedevance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllTypeRedevance">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllTypeRedevanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="LoadAllTypeRedevanceResult" nillable="true" type="q10:ArrayOfCsTypeRedevence" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllTypeLienRedevance">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllTypeLienRedevanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="LoadAllTypeLienRedevanceResult" nillable="true" type="q11:ArrayOfCsTypeLienRedevence" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllTypeLienProduit">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllTypeLienProduitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="LoadAllTypeLienProduitResult" nillable="true" type="q12:ArrayOfCsTypeLienProduit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheickCodeRedevanceExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheickCodeRedevanceExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheickCodeRedevanceExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllVariableTarif">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllVariableTarifResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="LoadAllVariableTarifResult" nillable="true" type="q13:ArrayOfCsVariableDeTarification" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllModeCalcule">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllModeCalculeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="LoadAllModeCalculeResult" nillable="true" type="q14:ArrayOfCsModeCalcul" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllModeApplicationTarif">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllModeApplicationTarifResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="LoadAllModeApplicationTarifResult" nillable="true" type="q15:ArrayOfCsModeApplicationTarif" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveVariableTarif">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ListeRedevanceToUpdate" nillable="true" type="q16:ArrayOfCsVariableDeTarification" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ListeRedevanceToInserte" nillable="true" type="q17:ArrayOfCsVariableDeTarification" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="ListeRedevanceToDelete" nillable="true" type="q18:ArrayOfCsVariableDeTarification" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveVariableTarifResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveVariableTarifResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllTarifFacturation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCentre" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="idProduit" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="idRedevance" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="idCodeRecherche" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllTarifFacturationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="LoadAllTarifFacturationResult" nillable="true" type="q19:ArrayOfCsTarifFacturation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllDetailTarifFacturation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllDetailTarifFacturationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="LoadAllDetailTarifFacturationResult" nillable="true" type="q20:ArrayOfCsDetailTarifFacturation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTarifFacturation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="Tarification" nillable="true" type="q21:CsTarifFacturation" />
        <xs:element minOccurs="0" name="Action" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTarifFacturationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveTarifFacturationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTarif">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="Tarification" nillable="true" type="q22:ArrayOfCsTarifFacturation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTarifResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateTarifResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DuplicationTarifVersCentre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AncienIdCentre" type="xs:int" />
        <xs:element minOccurs="0" name="NouveauIdCentre" type="xs:int" />
        <xs:element minOccurs="0" name="produit" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DuplicationTarifVersCentreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DuplicationTarifVersCentreResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllUniteComptage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadAllUniteComptageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="LoadAllUniteComptageResult" nillable="true" type="q23:ArrayOfCsUniteComptage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadTarifGenerer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FK_IDRECHERCHETARIF" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FK_IDVARIABLETARIF" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Produit" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadTarifGenererResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Galatee.Structure" minOccurs="0" name="LoadTarifGenererResult" nillable="true" type="q24:ArrayOfCsTarifFacturation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>